   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Small Businesses, Are You Doing These Essential Things?</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a class="facebook" rel=noopener  href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/are-you-doing-these-essential-things" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" rel=noopener href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/are-you-doing-these-essential-things" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a class="linkedin" rel=noopener href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/are-you-doing-these-essential-things" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/Hqybhwp/essential.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">Running a small business means wearing a ton of different hats. You’re Founder, CEO, Head of
    Marketing, Chief Tech Officer etc. We know how busy it can get and how easy it is to forget the
    little things. We’ve compiled a list of things that, no matter what, you should remember to do for
    your small business, at least once a month.</p><br>


<div class="mainpicture">
      <img id="pic" class="center" src="https://i.ibb.co/1mWK3Vy/essential2.jpg" alt="">
</div>


    <h2>1. Reflect</h2>

    <p>No, we don’t mean get on top of your desk, cross your legs and meditate, although that certainly
    sounds like fun. We’re actually referring to your progres.</p><br>

    <p>All businesses should be keeping in-depth progress reports but this is especially true for small
    businesses. Pick a few points that define the success and growth of your businesses and note
    your progress in these areas monthly. It is also useful to track what you have changed in those
    areas' month to month to see whether any improvements you’re making are helping you
    achieve your goals.</p><br>

    <p>We recommend outlining where you are, where you want to be and what you want to track at
    the beginning of the year and checking in monthly. This will help you stay on track and identify
    where you can change/ improve aspects of your company.</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://source.unsplash.com/wL8sz3Graj4" alt="">
</div>

    <h2>2. Wallet Check</h2>

    <p>Analyzing your finances should be a part of your reflection but we think it’s so important we’re
    going to dedicate an entire bullet point to it!</p><br>

    <p>Of course, profit is one of the ways to track in you’re doing well, but it is part of a much larger
    picture. First and foremost, you want to make your payments. That includes your bills to your
    suppliers, employees, freelances, HMRC and of course, yourself. Making sure that your
    payments are on time will make your business relationships healthy and will oil the cogs in your
    business machine!</p><br>

    <p>After you’ve made sure that you’ve made your payments then you want to make sure that
    people’s bills to you are also paid. Invoices should be sent ahead of their payment date to give
    your clients/customers time to pay them. You should make it clear to them when they will
    receive their invoice and how long they have to pay it.</p><br>

    <p>Sift through your expenses. Are you spending too much on things that don’t seem to be helping
    you? Is there a way to minimize your expenses? Just because the overall balance works out
    well doesn’t mean that it can’t be better!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/QkHBXCF/essential4.jpg" alt="">
</div>

    <h2>3. Plan Ahead</h2>

    <p>Reflecting is important, looking to the future is even more important. It is a good idea to plan
    ahead and make sure that you’re not over-working yourself or your team.</p><br>

    <p>Look out for deadlines that are too close together, whether they’re internal or external. Make
    sure that you’re giving yourself wiggle room-things rarely go perfectly so you want to have the
    time to adjust if you come across a bump in the road.</p><br>

    <p>If your month is looking busy perhaps you can shift things slightly, tasks which are flexible can
    be done this month or the one after. Or, perhaps you can delegate them amongst your team. If
    one department is looking particularly busy then you can ask another department to assist
    where possible.</p>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/M6cf6Y9/essential5.jpg" alt="">
</div>

    <h2>4. Re-Connect</h2>

    <p>Don’t forget who is supporting your business! It’s a good idea to check into your company
    network once a month. Whether that’s your clients and customers, your business partners and
    connections, or your suppliers and service providers.</p><br>

    <p>Not only is it important to stay front of mind with your customers and remind them that, outside
    of a business relationship you have a personal one, it is also good to keep on friendly terms with
    that people that you work with. Healthy business relationships will make the people that you
    work with happier to oblige you and work to make your business better.</p><br>

    <p>Checking in monthly also gives your customers the opportunity to let you know how things are
    with them, what they would like to see from you and where you can support them further. This is
    a good opportunity to show them how trustworthy you are and get them to recommend you to
    their own network.</p><br>

    <p>Happy Monthly Reflecting/Planning/Connecting!</p><br>



<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>


  </section>

</article>
