   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a href="/">Personal</a>
      <a href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a class="nav-link" href="https://intercom.help/kiyanpay-support/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Best Accounting Software's for Small Businesses:</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
  </div>


<div class="mainpicture">
    <img class="center" src="https://i.ibb.co/H7NcT04/Screenshot-2021-04-15-at-11-54-58.png" alt="">
</div>


  <section class="articles">


    <p lang="en">We told you we want to do all the hard work and let you focus on your business and we meant it!</p><br>

    <p>That’s why we’ve compiled our top picks for the best accounting softwares for small businesses. Why waste time? We’re diving in with our number 1 pick.</p><br>

    <h2>1. FreshBooks</h2>

    <p>We’re not alone in saying that FreshBooks is our number 1 choice for accounting software, especially for beginner accounting entrepreneurs and small business owners</p><br>

    <p>The interface is intuitive and easy to grapple with and there is a lot of help from the customer service team to aid you in your journey of accounting discovery</p><br>

    <p>Here is a breakdown of the pricing and features:</p><br>


<!--     <div class="mainpicture"> -->
      <img class="center" src="https://i.ibb.co/RcbwLK4/account1.jpg" alt="">
<!--     </div> -->

    <br><li>FreshBooks' Features:</li><br>

    <li>Payment reminders</li>
    <li>Time tracking with a Chrome browser extension</li>
    <li>Recurring invoices with customizable options including due dates and discounts</li>
    <li>Online credit card payments</li>
    <li>Remembered vendors</li>
    <li>Multi-currency and language billing</li>
    <li>Automatic tax calculations on sales tax</li>
    <li>Easily integrates with other products (GSuite and Gusto)</li>
    <li>Tax-friendly expense categories</li>
    <li>Bank deposits, recurring payments, and auto bills with bank integration</li>
    <li>Tax help integrations with tax apps, estimates, deductions, and filing tools</li><br>

    <li>FreshBooks' Pricing:</li><br>


    <p>Lite: $6 per month for the self-employed business owner with five billable clients</p><br>

    <p>Plus: $10 per month for businesses with 50 billable clients</p><br>

    <p>Premium: $20 per month for growing businesses with up to 500 billable clients</p><br>

    <p>Select: Custom features and pricing for businesses with more than 500 billable clients</p><br>

    
    <img class="center" src="https://i.ibb.co/m4X2f5n/money2.png" alt="">

    <h2>2. Wave Accouting</h2>

    <p>We like Wave because it’s the best value for money. You have access to all of the basic features and it isn’t trying to break the bank! It’s great for those who are just starting out and want to try before they buy!</p><br>

    <li>Wave Features:</li><br>

    <li>Unlimited income and expense tracking</li><br>
    <li>Track sales tax on income and expenses</li><br>
    <li>Double-entry system</li><br>
    <li>Multiple users</li><br>
    <li>Dashboard with easy-to-read financials</li><br>
    <li>Organize income and expenses into tax categories</li><br>
    <li>Reports including profit and loss statements and cashflow</li><br>

    <li>Wave Pricing:</li><br>

    <li>The accounting, receipt scanning, and invoicing software is free with no hidden charges</li><br>
    <li>Credit card processing is 2.9% plus $0.30 for Visa, Mastercard, and Discover and 3.4% plus $0.30 for American Expres</li><br>
    <li>Bank Payments (ACH): 1% per transaction with a $1 minimum fee</li><br>
    <li>Payroll: $35 monthly base fee plus $6 per active employee and $6 per independent contractor, and payroll taxes are handled by the company (only available in certain states)</li><br>


    <img class="center" src="https://i.ibb.co/RHCtm1g/account3.png" alt="">

    <h2>3. Xero Accounting</h2>

    <p>Xero has been around for a while and with good reason. It is a go to for a lot of businesses because of its user-friendly interface and extensive and ever-updating features. It is multiple user and team friendly too!</p><br>

    <li>Xero Features:</li><br>

    <li>Create expense claims</li><br>
    <li>Send invoices</li><br>
    <li>Fast bank reconciliation and integration with your financial institution and other apps including HubSpot, Square, and over 450 different programs</li><br>
    <li>Up-to-date financial reports</li><br>
    <li>Business data protected</li><br>
    <li>Real-time cash position</li><br>
    <li>Collaborate with staff or your accountant</li><br>


    <li>Xero Pricing:</li><br>


    <li>Early: $4.50 per month, send 20 invoices, enter five bills, reconcile bank statements, and capture bills and receipts</li><br>
    <li>Growing: $30 per month, send invoices and quotes, enter bills, reconcile bank statements, and capture bills and receipts</li><br>
    <li>Established: $60 per month, includes all Growing tier features plus multi-currencies, expenses, and projects</li><br>

    <img class="center" src="https://i.ibb.co/XWqyjth/quick.jpg" alt="">

    <h2>4. Intuit QuickBooks</h2>

    <p>Intuit is a cult favourite and we’re in support! It’s easy to use and beginner friendly so there is no need to worry if you haven’t got much experience. It is also geared towards small to medium businesses so there are plenty of features which cater to a smaller team.</p><br>

    <li>QuickBooks Features:</li><br>

    <li>Financial institution integration as well as integration with PayPal, Square, Shopify, and more</li><br>
    <li>Help to file quarterly and annual tax returns with user guides and exporting tax data</li><br>
    <li>Sales tax calculations, returns, and recorded tax payments</li><br>
    <li>Automatically sort transactions and expenses into tax categories</li><br>
    <li>Track expenses in one place</li><br>
    <li>Scan receipts and attach them to invoices</li><br>
    <li>Share with your accountant or export documents</li><br>
    <li>Create customized reports with cashflow tracking visible on your dashboard</li><br>
    <li>Track miles with your smartphone’s GPS</li><br>

    <li>QuickBooks Pricing:</li><br>

    <li>Simple Start: $12.50 per month for businesses just getting started</li><br>
    <li>Essentials: $20 per month for managing growing businesses</li><br>
    <li>Plus: $35 per month to help you get better organized and manage projects, inventory, and contractors</li><br>
    <li>Advanced: $75 per month to help your business grow with deeper insights and dedicated support</li><br>

    <p>We wish you a happy accounting (does that exist?) and we hope that you find the software that works for you! All of the mentioned programs have free trials so make sure to try before you buy :)</p>



<div class="user-profile">
  <img class="avatar" src="https://i.ibb.co/0BPhYwQ/Screenshot-2021-04-14-at-10-47-58.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">
    Content Specialist
  </div>
</div>
  </section>

</article>