   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a href="/">Personal</a>
      <a href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a class="nav-link" href="#"aria-expanded="false"><%= link_to"BLOG", blog_path%></a>&nbsp &nbsp&nbsp
                  <a class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Financial Security</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
  </div>


<div class="mainpicture">
    <img class="center" src="https://i.ibb.co/MRMVdnN/finance1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">Financial security is usually defined as a feeling in control of your income and spending. In other words, you're making more than you're spending and you feel good about it!</p><br>


    <h2>Why Should We Care About Financial Security?</h2>

    <p>Financial security is so much more than covering expenses. It's knowing how to budget, having healthy savings and being able to sleep through the night.</p><br>

    <p>Being financial secure removes the guilt and stress which can surround spending. Particularly during a pandemic when even national financial security was in question.</p><br>


<!--     <div class="mainpicture"> -->
      <img class="center" src="https://i.ibb.co/zN0VdyV/finance2.jpg" alt="">
<!--     </div> -->


    <h2>Where Do We Start?</h2>

    <p>It can be overwhelming to have to reprogram your spending habits. Especially if you're being underpaid and over-worked so don't have the extra time to spend. That's why we recommend budgeting.</p><br>

    <p>We know... BUDGETING. Who hasn't shoved it down your throat as a solution to money problems? The truth is, you can't budget £600 into £1200 but you can make sure it doesn't turn into £100 before you know it.</p><br>

    <p>Our advice?</p><br>

    <p>Take one day, preferably near payday, to set out your budget for the entire month. Separate your allowance into necessary, preferred and luxury.</p><br>

    <p><u>Necessary:</u> Rent, Bills and Food.</p><br>

    <p><u>Preferred:</u> Online Shopping, Eating out and Entertainment.</p><br>

    <p><u>Luxury:</u> One-off events e.g. holidays, expensive dinner dates and new shoes!</p><br>

    <p>We should probably be telling you to put aside a considerable amount to save right now. But, for a lot of people, that's a luxury too. If you're able to put the money aside, 10% of your monthly income will take
    the pressure off of you on days where you can't go into work, you're stuck between jobs or your cat needs an expensive surgery.</p><br>


    <img class="center" src="https://i.ibb.co/zFyPpBJ/finance3.jpg" alt="">

    <h2>Long Term Vs Short Terms Goals:</h2>

    <p>What are you supposed to prioritise? That depends!</p><br>

    <p>What is more important to you? Financial security is not a one size fits all strategy. You need to decide whether there are things that you want to save up for or whether you prefer to spend your extra income on small things here and there.</p><br>

    <p>Financial security should feel freeing, but it can often involve a feeling of constriction. Why? Because too many people are confusing not spending with securing their financial future.</p><br>

    <p>If you're feeling the pressure to put all of your money away when you would rather indulge periodically, that's okay too. As long as you're not spending more than you're earning or being frivolous (what does that even mean anyway?)... we support you!</p><br>

    <img class="center" src="https://i.ibb.co/Y2y8n67/finance4.jpg" alt="">

    <h2>Emergencies:</h2>

    <p>No one wants to think that they're susceptible to financial emergencies. We're bulletproof, right?</p><br>

    <p>But prevention is the best cure. So if you prepare for something that never happens you'll fare a lot better than being hit by a tragic surprise. This is where intelligent saving comes in.</p><br>

    <p>You can save in small increments so you don't feel the money
    leave your account or you can commit to a certain amount that you want to put aside. Either way, making sure that the future you has something to lean back on will be something they'll certainly thank you for.</p><br>

    <img class="center" src="https://i.ibb.co/YpqMQdp/securt.jpg" alt="">

    <h2>Tracking Spending:</h2>

    <p>Forethought is important, but you can learn a lot more from hindsight and reflection</p><br>

    <p>When you're setting the budget for next month take some time to notice patterns in your card tapping! Are you spending a lot on eating out or online shopping? Or maybe you're being very frugal and you can
    afford to go a little crazier next month. Either way, it's useful to see what changes can put you in a better place for next month.</p><br>

    <p>We wish you happy spending (and saving)!</p><br>

    <p>KiyanPay</p><br>


<div class="user-profile">
  <img class="avatar" src="https://i.ibb.co/0BPhYwQ/Screenshot-2021-04-14-at-10-47-58.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">
    Content Specialist
  </div>
</div>
  </section>

</article>
