   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a href="/">Personal</a>
      <a href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a class="nav-link" href="#"aria-expanded="false"><%= link_to"BLOG", blog_path%></a>&nbsp &nbsp&nbsp
                  <a class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Money Muling</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/article8" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/article8" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/article8" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img class="center" src="https://i.ibb.co/dkh5tNR/scam1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">We’ve all heard of drug muling. Some of us might even have been warned against it at a very young age.
    But what is money muling? It’s not the obvious translation- you're not smuggling money anywhere and
    you shouldn’t be scared of x-rays.</p><br>


<!--     <div class="mainpicture"> -->
      <img class="center" src="https://i.ibb.co/L0j7zXb/scam2.jpg" alt="">
<!--     </div> -->


    <h2>1.  What is Money Muling?</h2>

    <p>Money muling is one of the newest forms of money laundering. Criminal's transfer money to individuals
    looking to make some quick and easy money. All the victim has to do is receive the money and transfer
    it onto a different account, or they have to take it out of an ATM and pass it on to someone.</p><br>

    <p>We’re not doing a good job of deterring you so far, right? Free, easy and quicky money sounds like the
    dream! But we’re here to rain all over your criminal parade- if it sounds too good to be true you should
    treat it like it probably is</p><br>

    <p>If you assist a criminal in money laundering you are becoming an accomplice in their crime, even if you
    have no idea what it is. So, if the person offering you the get rich quick scheme isn’t willing to divulge
    exactly how they made their money (we’ll be honest, it’s going to be hard to find one that is) then
    you’re entering into a criminal act completely unaware of just how severe a crime you’re committing.</p><br>

    <p>So, if you’re giving strangers access with the promise of wealth and fortune you could become an
    accomplice and by implicated in obstructing justice. So really, you’re better off banking on certain jail
    time than certain prosperity.</p><br>



    <img class="center" src="https://i.ibb.co/tYqNSXP/scam3.jpg" alt="">

    <h2>2.  How are victims targeted.</h2>

    <p>It’s important to note than even though we’re using the term ‘victim’ the justice system will not see
    individuals who participate in money muling schemes the same way</p><br>

    <p>That’s why we’re educating you on the signs, because it’s unlikely that the criminals that want to cleanse
    their money through your bank account are going to describe the process in the same way we did.</p><br>

    <p>The most common approach is through job offers that are formulated to look entirely legitimate.
    They’re going to be amongst actual jobs on reputable websites under names like ‘money transfer
    agents’, although they’re going to switch up the names (we’ll keep you updated).</p><br>

    <p>Criminals might message you directly on social media or by email- they'll promise you quick and easy
    money with minimal effort. Beware! They might become your friend first in order to establish trust</p><br>

    <p>Lastly, they may just approach you in the street. Likely they’re looking for a one-
    off payment but this is just as criminal and dangerous as several transfers.</p>

    <p>So, who is in danger?</p><br>

    <p>Everyone. No one is safe from criminals (duh!) But there are certain groups who are being targeted
    more persistently than others. These include newcomers to a country (those who might need financial
    aid or are less clued up about this type of scam), unemployed people, students, and those experiencing
    money problems.</p><br>

    <p>With the age range for getting a current account lowering criminals are targeting young vulnerable
    banking customers from the age of 11 to 21.</p><br>

    <img class="center" src="https://i.ibb.co/QHPH18V/scam4.jpg" alt="">

    <h2>3.  What to look out for:</h2>

    <p>Fake Job Offers:</p><br>

    <p>&nbsp•&nbsp Money mule adverts are often exact copies of genuine job adverts. They also go so far as to
    duplicate websites and create similar contact information in order to seem more legit.</p><br>

    <p>&nbsp•&nbsp If they’re not copying other job adverts then there may be a lot of spelling
    and grammar errors and they may be poorly written. The sender will likely have a personal rather than company
    email address.</p><br>

    <p>&nbsp•&nbsp They may term frame the role to be a ‘representative’ or ‘agent’ role and explain that they are
    an overseas company.</p><br>
    <p>&nbsp•&nbsp Lack of specific job duties or duties which include money transfer or good.</p><br>
    <p>&nbsp•&nbsp No listed educational or experience requirements.</p><br>
    <p>&nbsp•&nbsp Remote working-everything will be done online from home</p><br>

    <p>These don’t all indicate money muling but a great deal of them are red flags all
    the same! Be vigilant online</p><br>

    <p>Promises of Instant Cash:</p><br>

    <p>&nbsp•&nbsp A stranger asks you to move money through your account and promises you commission in
    return.</p><br>
    <p>&nbsp•&nbsp The opportunity as sold as a way to make easy money, risk-free same-day cash.</p><br>
    <p>&nbsp•&nbsp You will be asked for your bank account number, even if they don’t need to use your account</p><br>

    <p>We’ve outlined the major risks and highlighted what to look out for but a more indepth source can be
    found here: <a href="https://www.europol.europa.eu/activities-services/public-awareness-and-prevention-guides/money-muling">public awarness and prevention guides</a></p><br>

<div class="user-profile">
  <img class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>


  </section>

</article>
