  <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"BLOG", blog_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Top Five Money Superstitions From Around The World</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/article6" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/article6" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/article6" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img class="center" src="https://i.ibb.co/WHJcXtT/luck1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">Early to bed and early to rise makes a person healthy, wealthy and wise! Or so they say...
    Just don’t ask us who “they” is. We can’t guarantee the success rate of the recommended regime but we can assure
    you that superstitions, practices and sayings surrounding money have been around forever!</p><br>

    <p>And while we’d like to sit here and tell you that love does indeed make the world go around, we have an
    inkling that money might have something to do with it too. That explains why, since the dawn of time,
    we’ve been doing everything and anything we can in order to keep, save and earn our money. So, we’re
    making a list of our favourite money superstitions around the world and letting you pick and choose
    which ones you want to adhere to.</p><br>



<!--     <div class="mainpicture"> -->
      <img class="center" src="https://i.ibb.co/Vj8YDwz/lcuk2.jpg" alt="">
<!--     </div> -->


    <h2>1. Turkey: Golden Dreams</h2>

    <p>According to this Turkish folklore tale if you want to get rich quick all you need to do is hold gold in your
    hand as you sleep. The hardest part of this tradition seems to be the getting your hand on some real
    gold to take to bed first! Nevertheless, if you happen upon some it may be worth taking it out for dinner
    and then sleeping with it.</p><br>



    <img class="center" src="https://i.ibb.co/nsYJ0qD/luck3.jpg" alt="">

    <h2>2.  China: Lucky Money</h2>

    <p>If you’re a Chinese child at New Year then you’re in luck! Why? Because you’re set to be the recipient of
    some red wrapped money courtesy of gracious parents and older relatives. In China, the red wrapping
    paper or envelope is a symbol of good luck and it isn’t actually about how much money you give. And,
    just like opening your card and going to the money first, it isn’t polite to open your envelope while the
    gift giver is still present!</p><br>


    <img class="center" src="https://i.ibb.co/PTsLRg4/luck4.jpg" alt="">

    <h2>3.  Argentina: Pavement Money</h2>

    <p>‘Find a penny, pick it up and all day you’ll have good luck!” Well, the saying might not have originated in
    Argentina but they have a similar superstition. Argentinians believe that finding money on the pavement
    is a sign that you’re going to be getting some money! But... don’t be too hasty to celebrate-
    the legend has it that if you spend the money immediately then you’re going to be reversing your good luck.</p><br>

    <img class="center" src="https://i.ibb.co/MB3rFSz/lucky5.jpg" alt="">

    <h2>4.  Ireland: Pot of Gold</h2>

    <p>Perhaps one of the most famous traditions surrounding money (and gold!) originates in Ireland. The Irish
    have upheld the myth of leprechauns placing a pot of gold at the end of the rainbow for centuries. And,
    if you’re ever lucky enough to see a rainbow (which in rainy Ireland you probably will be) then make
    sure you try and get to the end of it- experience says it impossible but it’s worth a try all the same</p><br>

    <img class="center" src="https://i.ibb.co/Bfg5YLf/lucky6.jpg" alt="">

    <h2>5.  Poland, Ukraine and Greece: The Money Dance</h2>

    <p>No... not the rain dance, the money dance! The tradition supposedly originates in Poland somewhere
    around the beginning of the 20 th Century. The dance usually takes place midway through a celebration
    after the guests have had a fair bit to drink. If you’re at a wedding then the dance is customarily
    announced by the best man and danced by the best man and bride. After a few bars the male guests are
    then invites to pin money to the bride's dress. Brides who don’t like the idea of perforating their very
    expensive dress usually carry a purse specifically for this occasion.</p><br>

    <p>So, regardless of whether you’re a big believer in superstitious practices, if you’re ever in the position to
    do so then try them out- and make sure to let us know if they work</p><br>

<div class="user-profile">
  <img class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>


  </section>

</article>
