   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%=  link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"BLOG", blog_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<div class="allr">
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Weatherforcast for the next 24 hours: Plenty of Sunshine</span><br><span>Wind: 7km/h SSE; Ther: 21°C; Hum: 82%</span></div>
        <header>KiyanPay's post</header>
    </div>

    <div class="subhead"> <%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> - Six Pages</div>
</div>


    <section class="rectangle-blog">

      <a rel=noopener href="/contact">ALL</a>

    <div class="button-sbusiness">
      <a rel=noopener href="/blogs-small-business">SMALL BUSINESS</a>
    </div>
      <a rel=noopener href="/blogs-travel">TRAVEL</a>
      <a rel=noopener href="/blogs-personal-finance">PERSONAL FINANCE</a>
    </section>

<section class="section-big-blog">
  <div class="container-small">
    <div class="img-card">
      <img src="https://i.ibb.co/28DMGqb/safe.jpg" />
    </div>
    <div class="slide-left">
      <div class="date-header"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.
      </p>
      <a rel=noopener href="/no-more-borders" class="brk-btn-black">READ MORE</a> <br> <br><br>
    </div>
  </div>
</section>

<section class="article-grid">
  <div class="first-row">

    <div class="card-small">
      <img src="https://i.ibb.co/PgxZ011/pension2.jpg">
      <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.</p>
    </div>
    <div class="card-small">
      <img src="https://i.ibb.co/PgxZ011/pension2.jpg">
      <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.</p>
    </div>

  </div>

  <div class="second-row">

    <div class="card-small">
      <img src="https://i.ibb.co/PgxZ011/pension2.jpg">
      <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.</p>
    </div>
    <div class="card-small">
      <img src="https://i.ibb.co/PgxZ011/pension2.jpg">
      <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.</p>
    </div>

  </div>
</section>

<div class="text-center">
  <h2>FEATURED STORIES</h2>
</div>

<section class="caroussel-blog">
        <div class="video-carousel-nav">
        <ul class="unlist">
          <li><label for="video-1" id="label-1"></label></li>
          <li><label for="video-2" id="label-2"></label></li>
          <li><label for="video-3" id="label-3"></label></li>
          <li><label for="video-4" id="label-4"></label></li>
          <li><label for="video-5" id="label-5"></label></li>
        </ul>
      </div>
      <div class="video-carrousel" id="video-caroussel">
        <input type="radio" name="select-video" id="video-1" checked value="0">
        <div class="video-carrousel__item" data-id="label-1">
          <label class="thumb" for="video-1">
            <img src="https://i.ibb.co/dkh5tNR/scam1.jpg">
            <div class="text-caroussel">
                <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
                <h1>Is The Website </h1>
                <p>
                You love online shopping. We love online shopping.<br>
                But what we love most is safe online shopping. Free of fraud and scam.<br>
                So, we've compiled a list of things to look out for when you're browsing the web for your newest find
                because it shouldn't cost you more than it says on the price tag.</p>
            </div>
          </label>
          <input type="checkbox" id="video-00" class="toggle-video">
          <label for="video-5" class="btn-switch btn-prev"><span class="icon icon-arrow-left"></span></label>
          <label for="video-2" class="btn-switch btn-next"><span class="icon icon-arrow-right"></span></label>
          <span class="active-dot"></span>
        </div>

        <input type="radio" name="select-video" id="video-2" value="2">
        <div class="video-carrousel__item"  data-id="label-2">
          <label class="thumb" for="video-2">
            <img src="https://i.ibb.co/VwvgVQg/sleep1.jpg">
            <div class="text-caroussel">
                <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
                <h1>Is The Website </h1>
                <p>
                You love online shopping. We love online shopping.<br>
                But what we love most is safe online shopping. Free of fraud and scam.<br>
                So, we've compiled a list of things to look out for when you're browsing the web for your newest find
                because it shouldn't cost you more than it says on the price tag.</p>
            </div>
          </label>
          <input type="checkbox" id="video-11" class="toggle-video">
          <label for="video-1" class="btn-switch btn-prev"><span class="icon icon-arrow-left"></span></label>
          <label for="video-3" class="btn-switch btn-next"><span class="icon icon-arrow-right"></span></label>
        </div>

        <input type="radio" name="select-video" id="video-3" value="2">
        <div class="video-carrousel__item" data-id="label-3">
          <label class="thumb" for="video-3">
            <img src="https://i.ibb.co/jyMcjC2/small1.jpg">
            <div class="text-caroussel">
                <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
                <h1>Is The Website </h1>
                <p>
                You love online shopping. We love online shopping.<br>
                But what we love most is safe online shopping. Free of fraud and scam.<br>
                So, we've compiled a list of things to look out for when you're browsing the web for your newest find
                because it shouldn't cost you more than it says on the price tag.</p>
            </div>
          </label>
          <input type="checkbox" id="video-22" class="toggle-video">
          <label for="video-2" class="btn-switch btn-prev"><span class="icon icon-arrow-left"></span></label>
          <label for="video-4" class="btn-switch btn-next"><span class="icon icon-arrow-right"></span></label>
        </div>

        <input type="radio" name="select-video" id="video-4" value="3">
        <div class="video-carrousel__item" data-id="label-4">
          <label class="thumb" for="video-4">
            <img src="https://i.ibb.co/VwvgVQg/sleep1.jpg">
            <div class="text-caroussel">
                <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
                <h1>Is The Website </h1>
                <p>
                You love online shopping. We love online shopping.<br>
                But what we love most is safe online shopping. Free of fraud and scam.<br>
                So, we've compiled a list of things to look out for when you're browsing the web for your newest find
                because it shouldn't cost you more than it says on the price tag.</p>
            </div>
          </label>
          <input type="checkbox" id="video-33" class="toggle-video">
          <label for="video-3" class="btn-switch btn-prev"><span class="icon icon-arrow-left"></span></label>
          <label for="video-5" class="btn-switch btn-next"><span class="icon icon-arrow-right"></span></label>
        </div>

        <input type="radio" name="select-video" id="video-5" value="4">
        <div class="video-carrousel__item" data-id="label-5">
          <label class="thumb" for="video-5">
            <img src="https://i.ibb.co/GvJMs0N/business.jpg">
            <div class="text-caroussel">
                <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
                <h1>Is The Website </h1>
                <p>
                You love online shopping. We love online shopping.<br>
                But what we love most is safe online shopping. Free of fraud and scam.<br>
                So, we've compiled a list of things to look out for when you're browsing the web for your newest find
                because it shouldn't cost you more than it says on the price tag.</p>
            </div>
          </label>
          <label for="video-4" class="btn-switch btn-prev"><span class="icon icon-arrow-left"></span></label>
          <label for="video-1" class="btn-switch btn-next"><span class="icon icon-arrow-right"></span></label>
        </div>
      </div>
</section>

<section class="article-grid">
  <div class="first-row">

    <div class="card-small">
      <img src="https://i.ibb.co/PgxZ011/pension2.jpg">
      <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.</p>
    </div>
    <div class="card-small">
      <img src="https://i.ibb.co/PgxZ011/pension2.jpg">
      <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.</p>
    </div>

  </div>

  <div class="second-row">

    <div class="card-small">
      <img src="https://i.ibb.co/PgxZ011/pension2.jpg">
      <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.</p>
    </div>
    <div class="card-small">
      <img src="https://i.ibb.co/PgxZ011/pension2.jpg">
      <div class="date-title"><strong>BUSINESS</strong> • MAY 18, 2021</div>
      <h1>Is The Website Real</h1>
      <p>
        You love online shopping. We love online shopping.<br>
        But what we love most is safe online shopping. Free of fraud and scam.<br>
        So, we've compiled a list of things to look out for when you're browsing the web for your newest find
        because it shouldn't cost you more than it says on the price tag.</p>
    </div>

  </div>
</section>

<section class="padding-big-screen">
</section>


<!-- script for the blog caroussel  -->
<script>
  document.addEventListener('DOMContentLoaded', function () {

      document.addEventListener('turbolinks:load', () => {
  // Call your functions here, e.g:
  // initSelect2();
  // initUserTabs();

    var closeButtons = document.getElementsByClassName('btn-close'),
        openButtons = document.getElementsByClassName('btn-play'),
        radios = document.querySelectorAll('input[name="select-video"]'),
        thumbs = document.getElementsByClassName('thumb');

    for(var r = 0; r < radios.length; r++) {
      radios[r].addEventListener('change', setVideoClasses, this);
    }
    for(var i = 0; i < closeButtons.length; i++) {
      closeButtons[i].addEventListener('click', onCloseFrame, this);
    }
    for(var j = 0; j < openButtons.length; j++) {
      openButtons[j].addEventListener('click', onOpenFrame, this);
    }
    for(var t = 0; t < thumbs.length; t++) {
      thumbs[t].addEventListener('touchstart', onStartTouch, this);
    }
    for(var e = 0; e < thumbs.length; e++) {
      thumbs[e].addEventListener('touchend', onEndTouch, this);
    }

    setVideoCaroussel();
  });

  function setVideoCaroussel() {
    setVideoClasses();
  }

  function setVideoClasses() {
    var input = document.getElementById('video-caroussel').querySelector('input:checked'),
        items = document.getElementsByClassName('video-carrousel__item'),
        classes = ['right-out', 'right', 'center', 'left', 'left-out'];

    for(var i = 0; i < items.length; i++) {
      for(var c = 0; c < classes.length; c++) {
        items[i].classList.remove(classes[c]);
      }
    }

    setLeftside(input, items.length > 4);
    getSibling(input, 1, 'next').classList.add('center');
    setRightside(input, items.length > 4);

    setActiveDot();
  }

  function setLeftside(input, moreThenFour) {
    if(getSibling(input, 1, 'prev') === null) {
      getLastChild(input).classList.add('left');
      if(moreThenFour) {
        getSibling(getLastChild(input), 2, 'prev').classList.add('left-out');
      }
    } else {
      getSibling(input, 1, 'prev').classList.add('left');
      if(moreThenFour) {
        if(getSibling(input, 3, 'prev') === null) {
          getLastChild(input).classList.add('left-out');
        } else {
          getSibling(input, 3, 'prev').classList.add('left-out');
        }
      }
    }
  }

  function setRightside(input, moreThenFour) {
    if(getSibling(input, 2, 'next') === null) {
      getSibling(getFirstChild(input), 1, 'next').classList.add('right');
      if(moreThenFour) {
        getSibling(getFirstChild(input), 3, 'next').classList.add('right-out');
      }
    } else {
      getSibling(input, 3, 'next').classList.add('right');
      if(moreThenFour) {
        if(getSibling(input, 4, 'next') === null) {
          getSibling(getFirstChild(input), 1, 'next').classList.add('right-out');
        } else {
          getSibling(input, 5, 'next').classList.add('right-out');
        }
      }
    }
  }

  function getSibling(elem, num, target) {
    var tempElem = elem;
    for(var i = 0; i < num; i++) {
      if(tempElem !== null) {
        tempElem = target === 'next' ? tempElem.nextElementSibling : tempElem.previousElementSibling;
      }
    }
    return tempElem;
  }

  function getFirstChild(node) {
    var tempObj = node.parentNode.firstChild;
    while(tempObj.nodeType !== 1 && tempObj.nextSibling !== null){
      tempObj = tempObj.nextSibling;
    }
    return (tempObj.nodeType === 1) ? tempObj : false;
  }

  function getLastChild(node) {
    var tempObj = node.parentNode.lastChild;
    while(tempObj.nodeType !== 1 && tempObj.previousSibling !== null){
      tempObj = tempObj.previousSibling;
    }
    return (tempObj.nodeType === 1) ? tempObj : false;
  }

  function onStartTouch(e) {
    this.touchStartX = e.changedTouches[0].pageX;
  }

  function onEndTouch(e) {
    if(e.changedTouches[0].pageX - this.touchStartX > 100) {
      selectVideo('prev');
    } else if(e.changedTouches[0].pageX - this.touchStartX < -100) {
      selectVideo('next');
    }
  }

  function selectVideo(target) {
    var input = document.getElementById('video-caroussel').querySelector('input:checked'),
        elem;
    if(getSibling(input, 2, target) === null) {
      elem = target === 'next' ? getFirstChild(input) : getSibling(getLastChild(input), 1, 'prev');
    } else {
      elem = getSibling(input, 2, target);

    }
    elem.click();
    setActiveDot(input, elem);
  }

  function setActiveDots() {
    var l = document.getElementsByClassName('video-carrousel__item').length,
        items = document.getElementsByClassName('video-carrousel__item'),
        dot = undefined;

    for(var i = 0; i < items.length; i++) {
      dot = items[i].getElementsByClassName('active-dot')[0];
      if(dot) {
        dot.style.marginLeft = ((i - (l/2)) * 25) + 12 + 'px';
      }
    }
  }

  function setActiveDot() {
    var navItems = document.getElementsByClassName('video-carousel-nav')[0].querySelectorAll('li > label'),
        thumb = document.getElementById('video-caroussel').querySelector('input:checked').nextElementSibling;

    for(var n = 0; n < navItems.length; n++) {
      navItems[n].classList.remove('active');
    }

    document.getElementById(thumb.getAttribute('data-id')).classList.add('active');

  }
});

</script>
