<div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%=  link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"BLOG", blog_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Dream House, Dream Price</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/dream-house-dream-price" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/dream-house-dream-price" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/dream-house-dream-price
        " target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/1MvJ8C8/house1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">So, you’ve decided that you want to buy a house, congratulations! Now what?</p><br>

    <p>The only thing harder than buying a house recently has been buying a PS5. Both of which take time,
    research and a lot of saving up! And, while we can’t help you with the PS5 we might have some pretty
    useful tips on the house hunt</p><br>



<div class="mainpicture">
      <img id="pic" class="center" src="https://i.ibb.co/hXczMMP/house2.jpg" alt="">
</div>


    <h2>1. Figure Out a Budget</h2>

    <p>Whether you’re buying a house alone, with a partner or with a fellow investor you’re going to need to
    figure out how much you can afford to spend. 2019 research shows that the average salary of a first-
    time buyer is 54,000... but this could also be combined income of several parties</p><br>

    <p>You have to work out how much your combined steady income is- remember mortgages usually take
    around 25+ years to payback so you want to make sure that you can make the payments for at least 300
    months in a row!</p><br>

    <p>Not only this but your bank or mortgage provider will also want to make sure that you can pay up so, if
    you can’t prove that you’re consistently earning enough to make your payments they won’t approve you
    for the mortgage. This means bonuses and one-off payments don’t count towards your salary</p><br>

    <p>Your mortgage shouldn’t be any more than the rent that you’re paying now, in fact it should be
    significantly less. And you also need to take into consideration that you might need to renovate the
    home and you’re going to need to furnish it too!</p><br>

    <p>A good rule of thumb is the 36% rule; you shouldn’t be spending more than 36% of your monthly income
    on debt like mortgage, credit card interest and other loans like cars, student fees etc.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/PTt08Pt/house3.jpg" alt="">
</div>

    <h2>2.  Location, Location, Location</h2>

    <p>Most people are going to want to be relatively close to work. It’s important that when you apply to a job
    you consider housing as well... how much of your paycheck is going towards living and travelling? Either
    way houses prices vary dramatically all over the world, and even just in the UK alone.</p><br>

    <p>The average house price in London (zone 1-6) is £501,000 and that figure appears to be going up by at
    least 5% every year! Meanwhile, the average house price in Sheffield is only £167,378</p><br>

    <p>You’re going to want to sit down and figure out your priorities, do you want to be close to work or are
    you okay with travelling? If you’re further away from work, are you going to end up spending more on
    travel then you would on a mortage on a closer house? Do you
    need to be close to a school if you have
    or want kids relatively soon? How close do you want to be to your family? What does your city provide
    you with</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/2hv8Z6d/house5.jpg" alt="">
</div>

    <h2>3.  Deposit</h2>

    <p>No matter who you buy with you’re going to have to put down some sort of deposit. Usually, they’re
    about 10% of the value of the home but you can control and negotiate whether you want to pay more
    or less than that percentage</p><br>

    <p>Ideally, you’d be paying as big a deposit as possible. It means you’re borrowing less money from the
    bank so your monthly installments will be smaller and you’ll be paying less interest. The downside?
    You’re going to be eating further into your savings- we never recommend putting your entire savings
    into a property as you need to ensure you have a safety net.</p><br>

    <p>If you’ve been saving for some time then make sure your money is in the right account. Some accounts
    are going to offer you help when it comes to buying a property- a help-to-buy ISA not only has better
    interest but is also subsidized by the government. That’s right, they’re going to chip in to make sure you
    can get the house you want (or at least a house).</p><br>



<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>


  </section>

</article>
