   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>How To Get A Bargain Plane Ticket</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a class="facebook" rel=noopener  href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/how-to-get-a-bargain-plane-ticket" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" rel=noopener href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/how-to-get-a-bargain-plane-ticket" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a class="linkedin" rel=noopener href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/how-to-get-a-bargain-plane-ticket" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/DwSfww5/bargain.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">So, you’re braving the cramped leg room and cold air blast so that you can travel once again.
    But how much are you really prepared to sacrifice? Sure, you can endure a crying baby for four
    hours but you should at least get your ticket for a bargain. And we’re here to help you do it.</p><br>

    <p>In this blog we’re going to debunk some myths and share some real tips, enjoy!</p><br>


<div class="mainpicture">
      <img id="pic" class="center" src="https://i.ibb.co/KhftZt1/bargain2.jpg" alt="">
</div>


    <h2>1. Debunking the lies</h2>

    <p>First, let’s go through some things that aren’t going to help you:</p><br>

    <p>&nbsp-&nbsp Shopping on a Tuesday has NO effect on yourplane fare.</p><br>
    <p>&nbsp-&nbsp Searching Incognito will NOT get you a discount.</p><br>
    <p>&nbsp-&nbsp You can NOT predict airline prices-websites that promise to do so are fanciful.</p><br>

    <p>These tricks might have worked in the past but airlines are now using advanced algorithms to
    determine prices and offer sales based on the time of year, passenger demand, weather,
    events, competitor and fuel prices and so much more!</p><br>

    <p>Not to worry, we know how to work the algorithm, and we’re willing to share it with you!</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/HG9rmzx/bargain3.jpg" alt="">
</div>

    <h2>2. Be Flexible</h2>

    <p>Probably not what you wanted to hear, right? But it’s key. Try to be spontaneous and be flexible
    about your dates or destination, ideally both. Regardless of anything else, travelling during
    holidays like Christmas or New Years is going to cost you extra, even at a
    bargain price. You should also be wary of August, most schools have holidays then and the demand is much
    higher for travel, if you can work around it, you’re going to end up saving!</p><br>

    <p>The solution to must pricing issues is to travel off-season. You're probably going to have an
    easier time asking for time off too since you won't have as many colleagues also asking for time
    off. Did you check airline prices for Japan around the time the Olympics were scheduled?
    Tickets that could usually be found for as cheap
    as £400 were up to £12,000. If airlines can charge extortionate prices and still sell, they will.</p><br>

    <p>Being flexible with times can help too. Flying during the middle of the week is cheapest. The
    weekends are populated by people trying to escape for Saturday and Sunday and Monday and
    Friday seem to be prime days for business travelers. Travelling early in the morning or late at
    night is cheaper, even if it can be inconvenient.</p><br>

    <p>Alternatively, if you’re tied to certain dates, try mixing up the destination. Sites like Skyscanner,
    Google Flights and Momondo can show you different destinations and their price tickets within a
    certain range of dates. This can ignite the spontaneous spark in you and you can be inspired to
    fly somewhere you hadn’t thought of before.
    Embrace the random search filter!</p>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/zF34D6M/bargain4.jpg" alt="">
</div>

    <h2>3. Smaller/ Budget Airlines</h2>

    <p>There are plenty of budget airlines which will get you to the same place in (hopefully) one piece.
    If you’re travelling between countries abroad it might be a good idea to check with their local
    airlines, they’re usually more reasonably priced.</p><br>

    <p>Bear in mind that smaller/ budget airlines ask you to pay extra for some of the things we take for
    granted with larger airlines. Checked baggage, meals and reserved seating can also add to your
    tickets. If you’re okay foregoing these then click pay but if you’re not sure you can do without
    then do some quick math's. It might be the case that going for an all-inclusive ticket is cheaper
    overall then adding on extras to a lower priced ticket.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/rkzZ68N/bargain5.jpg" alt="">
</div>

    <h2>4. Currency Exchange</h2>

    <p>Look for your ticket in other currencies! This isn’t a very widely known or used trick. Try
    searching for your airfare in a country where the currency is weaker than yours. Remember,
    airlines don’t charge prices they’re not sure will sell.</p><br>

    <p>Make sure that you don’t make up you're saving through exchange fees! If you’re going to be
    purchasing your ticket in another currency, use your KiyanPay multi-currency card to avoid
    getting charged high exchange rates or transaction fees for no extra cost.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/dfm5S1V/bargain6.jpg" alt="">
</div>

    <h2>5. Travel Alone...Ish</h2>

    <p>Airlines can be very lazy with their ticket pricing. So, if you’re booking in a group of six then the
    airline will try and place you sitting together. In this case, all of the tickets are priced at the
    price-point of the most expensive ticket. For example, if you’re booking tickets for seats A-F and seat
    E is priced at £300, even if the rest of the seats are priced at around £100 then you’ll be
    charged £1800!</p><br>

    <p>Look for the ticket prices for an individual and then go from there. It might work out better to
    book individually, even if it means travelling separately.</p><br>

    <p>Like we mentioned, if cheap travel is what you’re after then you should always travel with a
    ‘borderless’ bank! You’ll save on exchange rates, transaction fees, using your card abroad and
    paying locally. You happen to be on the website for a bank that does all of the above!</p><br>


<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>


  </section>

</article>
