   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>How to sell your business</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/how-to-sell-your-business" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/how-to-sell-your-business" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/how-to-sell-your-business" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/GvJMs0N/business.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">You want to sell your business, and we want to help you!</p><br>

    <p>First step? Know what to ask for.</p>

    <p>Your business means a lot to you (and us), but you're going to need an objective valuation if you want to
    sell quickly and get a reasonable price. Over and underestimating your business's
    value can slow down the process or make it more expensive</p><br>

    <p>There are several ways to value your business, and it's essential to choose the one that suits your
    situation best. You'll need to analyse your sales, profit projection, tangible assets, employees and more</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/5MbCvDN/business2.jpg" alt="">
</div>

    <h2>1. DCF (Discounted Cash Flow)</h2>

    <p>Using DCF is best suited to businesses that have an established or growing earning. To figure out your
    DCF, you're going to need to make some predictions about your business' future revenue and profit. </p><br>

    <p>From there, you can put a number on the value of your business. This valuation method takes into
    account inflation and investment value so that it will give a fairer result.</p><br>

    <h2>2. P/E Ratio Valuation</h2>

    <p>The Price to Earnings (P/E) ratio considers the multiples of profit of your business and is suitable for
    well-established companies and have a well-tracked profit.</p><br>

    <p>Work out your P/E ratio: divide your current share price by your earnings per share (EPS). Then, you can
    multiply your post-tax profits for the year by your P/E to work out a valuation</p><br>

    <h2>3. Entry Cost Valuation</h2>

    <p>You could value your business based on what the cost would be for someone starting an identical one.
    You're going to need to work out the total start-up costs and all of your tangible costs. Make sure to
    include any expenses that concern your working capital, product development, recruitment and
    training.</p><br>

    <p>This is an excellent method for a start-up that hasn't developed a steady cash flow or a business that has
    seen a decrease in income.</p><br>

    <h2>4. Asset-Based Valuation</h2>

    <p>If your business is predominantly tangible asset-based like a factory or property firm, this is probably the
    method for you!</p><br>

    <p>Your first step would be to work out the NBV (Net Book Value), which will tell you the total for the assets
    listed on your business accounts. It will also adjust their price according to their age and current market
    value.</p><br>

    <p>Importantly, you'll need to discount any outstanding debts that you won't be paying off before the sale</p><br>

    <h2>5. Turnover Valuation?</h2>

    <p>A turnover valuation is based on your business' current sales as this is considered a good indicator of
    how well your product or service is performing. This is
    a helpful starting point for a valuation but is often
    part of a more extensive valuation as a business has a lot more to offer than just its product/service!</p><br>

    <p>This type of valuation is suitable for a younger business that doesn't have a comprehensive set
    of company accounts or a less complicated older business, e.g. smaller high-street retailers.</p><br>

    <p>For this type of valuation, you'll need to:</p><br>

    <p>&nbsp&nbsp•&nbsp Work out your average weekly sales:
    calculate your weekly turnover within the most recent
    financial period. If possible, add this to the turnover of the last financial period. Excluding the
    VAT from your calculation, divide your sum by the total number of weeks in both periods.</p><br>
    <p>&nbsp&nbsp•&nbsp Establish your weekly multiple:
    this is the % of the annual revenue equal to a fair value
    turnover. This will vary based on your sector. This will be roughly 20 weeks if you have a cafe,
    while a beauty salon will be around 10-15.</p><br>
    <p>&nbsp&nbsp•&nbsp Multiple your sector value by your average weekly sales figure.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/8cVs9bW/business3.jpg" alt="">
</div>

   <p>How can I save money?</p><br>

   <p>If you're selling or buying overseas, then it's a good idea to bear in mind transfer and exchange rates so
    that you're not losing any money. We recommend our personal or business accounts to reduce fees and
    currency exchange loss.</p>


<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div> <br>


  </section>
