   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Intellectual Property law</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a class="facebook" rel=noopener href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/intellectual-property-law" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" rel=noopener href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/intellectual-property-law" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a class="linkedin" rel=noopener href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/intellectual-property-law" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/C8GgsjS/article10.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">Original ideas are hard. The market is so saturated recently that there are bound to be others who are
    going through the same thought process as you. But who is going to make an idea big, first?</p><br>

    <p>That’s why we want to help you learn more about trademarking and copywriting, because we’re helping
    you develop your idea before a bigger, richer company can get there first. So, whether you want to keep
    the cat in the bag, keep your logo unique or claim an idea that you’re not ready to act on just yet-
    we're here to help.</p><br>

    <p>Firstly, lets run through some terminology. When you trademark or copyright an idea you’re protecting
    it from thieves, that’s right they’ve gotten so good they can steal your thoughts!
    Not really, but they can try and replicate what you do. Your ideas, concepts and slogans are what is now termed intellectual
    property and trademarking/copyrighting them means you’re taking advantage of your intellectual
    property right (IP rights).</p><br>

<div class="mainpicture">
      <img id="pic" class="center" src="https://i.ibb.co/px8VbYk/A5I3RhnA.jpg" alt="">
</div>


  <h2>Copyrighting:</h2><br>

  <p>You’ve got a brilliant and unique idea, that’s very rare so you’d like to make sure it’s looked after. What
  do you do? You copyright it. When you copyright a concept or idea, you’re essentially preventing other
  individuals and businesses from using that idea for selling or trading things based off of it.</p><br>

  <p>In the UK, there isn’t a registered list of everything copyrighted, that would be a very long list. And you
  don’t actually have to register or pay any fees, or even apply, in order to copyright something. All you
  have to do is add the © symbol to whatever you want to copyright. It is also recommended to add the
  year that you created your concept and your company name in case anyone tries to claim otherwise!</p><br>

  <p>You have full power over any work that you copyright, so if you want to let someone use it, or charge
  them for the opportunity, then you’re completely within your rights to do so. But even though you don’t
  have to register your copyright it does only last for 50 years, or 25 for photographs but there is also
  some variation on the duration across different types of work/art</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/WgpbKss/article10trad.jpg" alt="">
</div>

  <h2>Trademarking:</h2><br>

  <p>Unlike copyrighting which is more general, trademarking is much more specific. You have to trademark
  things like brand names, logos, slogans and design individually</p><br>

  <p>You’ll also need to register a trademark with the UKIPO (UK intellectual property office) and to do so
  you’ll have to pay a fee. Fees vary depending on the extent of your trademark and how general what
  you want to trademark is e.g., trademarking a color is a lot more expensive then trademarking a specific
  logo. The application process is also much longer, it usually takes a few months (around four-
  five) and, if your application is successful, then your trademark with
  go live onto the official trademarks database</p><br>

  <p>So, what is the difference between a copyright and a trademark? A trademark allows you to pursue legal
  action if someone is using your branding/logo/slogan etc. without your permission. The Nike logo, for
  example, is one of the most highly replicated logos and they take quite a few people to court. Goods
  which use trademarked branding illegally are called counterfeit. Just like with a copyright you can also
  sell or license the right to use your IP.</p><br>

  <p>There are two different ways to signify that something is trademarked. The official symbol is
  ® but while you’re waiting for your approval to come through you can use the ™.
  Unlike a copyright a trademark only lasts ten years so you’ll need to renew it again after (
  more fees!)</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/98947Vx/jKnFfcYg.jpg" alt="">
</div>

  <h2>Why bother with a trademark?</h2><br>

  <p>There are a few key distinctions between the two, and it’s worth getting one over the other depending
  on what you’re planning on protecting</p><br>

    <p>&nbsp1.&nbsp Copyright protection is applied as soon as you start using the symbol, unliked trademarks which
    take time to register and process.</p><br>
    <p>&nbsp2.&nbsp It doesn’t cost anything to copyright your business but there are significant fees for
    trademarking a concept, if you’re registering with UKIPO then you’re looking at upwards of £270.</p><br>
    <p>&nbsp3.&nbsp Copyright protection has a much longer duration, covering the work for at least 70 years ager
    the death of its creator. Trademarks, however, need to be renewed every 10 years.</p><br>
    <p>&nbsp4.&nbsp Copyright protection will automatically cover your IP in all Berne Conventi
    on countries while trademarks have to registered in different countries individually</p><br>

  <h2>How to trademark abroad:</h2><br>

  <p>If you’re planning on internationalizing or you don’t want people to benefit off of your idea abroad then
  you’re going to want to trademark in different countries individually. This will involve registering for
  international trademarks and you’re going to be paying a lot of different people a lot of money in
  different currencies</p><br>

  <p>We recommend using our transfer service or multi-currency cards so
  that you’re not adding to your costs by over-paying for exchange rates!</p><br>

  <p>Good luck with your big idea! We’re hoping you make us part of the journey to your making it big!</p><br>


<div class="user-profile">

</div>


  </section>

</article>
