  <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Is The Website Real</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/is-this-website-real" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/is-this-website-real" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/is-this-website-real" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/28DMGqb/safe.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">You love online shopping. We love online shopping.</p><br>

    <p>But what we love most is safe online shopping. Free of fraud and scam.</p><br>

    <p>So, we've compiled a list of things to look out for when you're browsing the web for your newest find
    because it shouldn't cost you more than it says on the price tag.</p><br>



<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/Js8B1hR/safe2.jpg" alt="">
</div>

    <h2>1. The Padlock Can Be Deceiving</h2>

    <p>In the good old days, it was enough for a website URL to have an SSL certificate (that's the padlock in the
    address bar) and start with HTTPS, but that's no longer the case. Fraudsters can now obtain a lock for
    their website within seconds, so you cannot rely on this feature alone.</p><br>

    <p>Typically, you should be able to click on the icon, and it can take you to a separate page to verify that it
    is legitimate rather than a copycat, but this can also be forged. If you feel like you're
    on a scam website, we advise exiting immediately rather than going on a detective mission!</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/BZcNQC7/safe3.jpg" alt="">
</div>

    <h2>2. Viruses Exist Online Too</h2><br>

    <p>Most websites use ads. It's entirely normal to do so. But there shouldn't be so many ads that it's
    interfering with your user experience (we're talking to you Youtube!) If there are tens of pop-up ads
    making it hard to use the website, they may be trying to catch you out. Websites allow you to block ads,
    but the best thing to do is get an anti-virus software, they're pretty popular, and pricing is competitive.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/FqztBc2/safe4.jpg" alt="">
</div>

  <h2>3. Grammar and Spell-Check</h2>

  <p>Hey! There's nothing wrong with a few errors! Despite popular opinion, content writers aren't perfect...
  but a lot of spelling and grammar errors can indicate that a website was rushed into launching so that
  they can take your money and then disappear.</p><br>

  <p>This alone isn't a massive red flag unless it's hard to read the website because of the errors, but it can be
  used in conjunction with our other tips to keep yourself safe from time-efficient fraudsters!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/X3pqpmm/safe5.jpg" alt="">
</div>

  <h2>4. Be Honest, Is It Really A Good Deal?</h2>

  <p>Some deals really are too good to be true. If you're getting a complete dining set for £20, you might
  want to manage your expectations and prepare yourself to receive barbie furniture!
  If anything at all arrives... Scammers want you to be so wowed by their offer that you purchase without fully considering
  the purchase. This is where reading reviews comes in handy!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/jw8Jstj/safe6.jpg" alt="">
</div>

  <h2>5. Other people will tell you if they had a bad shopping experience!</h2>

  <p>Not only will this tell you whether the product that you want to get is as pictured and well-produced,
  but it will also tell you if other shoppers had a good experience! Make sure to look for reviews placed
  outside of the website you're shopping
  for, as scammers can alter, fake or delete reviews!</p>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/hcD88YM/safe7.jpg" alt="">
</div>

  <h2>6. What is the refund policy?</h2>

  <p>Legitimate sites will display a full refund policy along with the terms and conditions for a refund.
  Scammers will often skip these pages as they're not planning
  on upholding the policy anyway, and it can be time-consuming to the right and add as a website page</p><br>

  <p>Even if the website is legit, it is a good idea to check the refund and return policy to ensure that you're
  going to be looked after even post-purchase.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/D83SGPB/safe8.jpg" alt="">
</div>

  <h2>7. Always Pay Securely</h2>

  <p>You should be offered more than one payment option. If a site is only letting you use your debit card,
  this could indicate fraud. If you're shopping from them for the first time, you can use a second-hand
  service like PayPal, which has buyer protection and holds the funds of non-reputable sellers who have a
  history of fraud or haven't made enough sales yet.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/dDnVRws/safe9.jpg" alt="">
</div>

  <h2>8. URL Inspection</h2>

  <p>The URL is the first giveaway of fraud and can save you a lot of trouble in the long
  run. Scammers tend to imitate legitimate websites so look out for extra words, punctuation or typos when typing in a URL
  (does anyone still do that?) Try to go through the link of a verified social media page or double-check
  that the URL is the same as the one you've used before!</p><br>

  <p>We have to stress that no one of these points alone will indicate that a website is fake, and there are
  ways around all of these for criminals. But they are unlikely to do all of them at once. So, if you feel
  unsafe shopping on a website, don't. The market is saturated; there will be others like it. Stay Safe!</p><br>

<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div> <br>


  </section>
