   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to  "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" rel=noopener href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a class="nav-link" rel=noopener href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Money Making While Sleeping</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a class="facebook" rel=noopener href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/making-money-while-sleeping" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" rel=noopener  href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/making-money-while-sleeping" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a class="linkedin" rel=noopener href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/making-money-while-sleeping" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/VwvgVQg/sleep1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">Isn't that the dream that all billionaires are selling? Passive income.</p><br>

    <p>The thing is, passive income isn't very passive at all. It's more like do all the work at once and then sit back and wait for the benefits to role in income. The thing about the passive income that we're sold online is that it is usually risky, or involves a big investment.</p><br>

    <p>But what if you're a student or a graduate, or you're just not earning enough to buy thousands of pounds worth of tesla stocks?</p><br>

    <p>If you're any of the above and much more, you're in the right place. We're the people bank. And we want you, the people, to make more money.</p><br>

    <h2>Don't Earn It All At Once!</h2>

    <p>That's right. Don't expect to make a flexible passive income all in one place. The pennies add up! And big time too.</p><br>

    <p>So, we're going against the age-old saying "Don't put your eggs all in one basket" and we're proposing something new; "Take eggs from every basket that you can see!" Because even if one of your revenues blows up big time, no one is going to say no to a passive income, however small.</p><br>


<div class="mainpicture">
      <img id="pic" class="center" src="https://i.ibb.co/dtZCQqp/sleep2.jpg" alt="">
</div>


    <h2>You're Shopping For Free?</h2>

    <p>If you're going to be spending money anyway, you may as well get some back. That's why we've downloaded SwagBucks and InstaDollar.</p><br>

    <p>Apart from some very interesting name choices, these two apps provide you with the opportunity to earn money when you shop online with places like Amazon, Walmart (If you're in the US) and Starbucks.
    They also let you earn extra "points" for watching videos, web browsing and even answering surveys. Granted, the latter part is not entirely passive but it's a great way to earn extra money while you're on your daily commute!</p><br>

    <p>It's important to note that Swagbucks isn't going to deposit money into your bank account, wouldn't that be a dream? Rather they're going to send you a gift card to use at your favourite store or you can deposit your balance into your PayPal.</p><br>

    <p>InstaDollar works similarly. Except you can also earn money while checking your emails! Pretty cool, right?</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/z5CwCKQ/sleep3.jpg" alt="">
</div>

    <h2>Boring Banking...</h2>

    <p>We get it! Traditional banking is boring and can be a real minefield to navigate. And we're working to change that! But in the meantime, we're going to help you make the most of your current bank account.</p><br>

    <p>How? By educating you on all of the different savings accounts! Or at least one of the ones that you want to know about.</p><br>

    <p>If your money is sitting in a regular savings account then you're probably pretty pleased with the interest that the bank is depositing in your bank
    account FOR FREE. But you're getting robbed... well, sort of. The reason the bank is paying you interest is that they're using your money! They're investing it and making lots of money on top... and it's not even theirs. The
    interest that you get is a "Thank You" from the bank.</p><br>

    <p>But, even worse than that is the fact that your money is losing value. Sadly, depreciation is a big thing and it means that every year, while you're diligently putting money away for the future it's becoming less and less valuable. Kind of like how Fredo's used to be 20p and now they're 70p.</p><br>

    <p>Make sure you open your bank's website and comb through the savings account they offer. If you're saving for a house or a retirement fund we recommend getting an ISA! If you use it to buy your first home then the government are going to subsidise the money that you're putting in. Did we mention that they won't tax you on the money either? Win!</p><br>

    <p>Alternatively, there are most probably accounts with higher interest rates so do some exploring, talk to a maybe not so friendly customer service personnel and don't be afraid to swap banks if you're finding better elsewhere!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/fkmJH3q/sleep4.jpg" alt="">
</div>

    <h2>Trading, Investing or Losing?</h2>

    <p>Just like banking, investing has a bad rep! It's just as complex with the added volatility of your money. But the truth is, that like dogs most stocks aren't just a seasonal thing-they should be staying in your
    possession for a while.</p><br>

    <p>Yes, there are a lot of stocks that will make you quick money and we'll gladly tell you about those too but we want to bring attention to the ones that you can buy and be almost certain won't lose value (like your money in your savings account!)</p><br>

    <p>Look at the big names, the ones that have been around forever with an impressive growth history. Things like Apple, Microsoft, Unilever etc.</p><br>

    <p>We want to be able to tell you everything about investing in this article but we'll keep it short for now and give you lots of information in the future. Making money shouldn't be complicated or boring!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/F4ZMPd3/sleep5.jpg" alt="">
</div>

    <h2>Affiliate Marketing</h2>

    <p>Have you got a friend that sells fit tea on their Instagram? Do you hate them a little bit? Well, they'remaking good money! Well, better money than you're making hating on their hustle!</p><br>

    <p>If you're clicking the links they're providing you and better still
    purchasing through those links then you can probably bet they're making money off of you.</p><br>

    <p>Companies are realising the benefits of influencer marketing and they're not wasting any time making the most of it. So, if you're given the opportunity to work with a brand that you like and think you can sell well. We're saying go for it! We'll support.</p><br>



<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>
  </section>

</article>
