   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"BLOG", blog_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Money and mental health</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/money-and-mental-health" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/money-and-mental-health" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/money-and-mental-health" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/Cv2fFFk/mental1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">Most people think about money multiple times daily. Most often, these thoughts bring about worry and
    anxiety. We want to help you turn money into a positive emotional trigger.</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/dBpY2F6/mental2.jpg" alt="">
</div>

    <h2>Step One: Recognizing The Relationship</h2>

    <p>There is a distinct correlation between mental health issues and monetary issues. Regardless of which
    came first, financial matters can cause a lot of stress, resulting in a decline in both physical and mental
    health. Mental and physical health issues can prevent us from earning money which can result in more
    monetary worries.</p><br>

    <p>The first step to easing your finances' anxiety is to be aware of the link between your brain and your
    wallet.</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/VM2vTxN/mental3.jpg" alt="">
</div>

    <h2>Step Two: Get Talking</h2><br>

    <p>Whether we have a lot of it or not enough, money is a taboo topic. According to the Starling Bank Blog, a
    financial adviser they spoke with, Catherin Thomas-Humphreys, commented that "Money can be such a
    taboo topic, even when it comes to talking to a financial advisor, people often arrive feeling mistrustful
    and insecure."</p><br>

    <p>We like to safeguard our money. We worked hard for it, so it makes sense to work hard to protect it too.
    We're not encouraging you to speak about your finances (especially how to access them) with just
    anybody. But we also think that keeping it all bottled up is just as dangerous</p><br>

    <p>We recommend allocating a few people that you can talk to about your finances that you can trust. An
    excellent place to look for those people is within your circle of family and friends. But, we're also happy
    to speak to you if you reach out on any of our social channels (please message us privately to ensure
    that you're staying safe!)</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/m0SdL3X/mental4.jpg" alt="">
</div>

    <h2>Step Three: Be Nice To Yourself</h2>

    <p>It is very unlikely that you're going to be rude or shame anyone else if they share struggles or worries
    about their finances. It should be just as unlikely that you'll do it to yourself.</p><br>

    <p>Unfortunately, we have been programmed to believe that more money=better but that isn't always the
    case. The first step to breaking down that prejudice is how we react to our financial situations. You are
    not unsuccessful if you're not making as much as your friends, and you're certainly not unsuccessful if
    your lifestyle looks different to the ones you're force-fed online.</p><br>

    <p>To be nice to yourself, you also have to make your goals attainable. We recommend breaking them
    down into smaller goals-more boxes to check off! Whether you're saving for a house, holiday, or to pay
    off some debt, you're probably going to be faced with some pretty big numbers. The good thing about
    numbers is that they're divisible, so divide them!</p><br>

    <p>If you're trying to save/return £10,000 in a year (this is an ambitious goal, but we want to show you that
    you can even work through those), then break that down to £835 a month (you'll have some leftover)
    and break that down further: 208.75 a week.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/F6bpRFX/mental5.jpg" alt="">
</div>

    <h2>Step Four: Planning Ahead</h2>

    <p>Life is very unpredictable, and sometimes, it can come at you very fast! If it's financially feasible, then we
    recommend saving some of your money in case of a rainy day.</p><br>

    <p>You can establish savings goals so that putting money aside becomes fun rather than a form of
    punishments. Some of my savings goals are a house, a wedding and a birthday gift for my sister. Having
    a variety of different sized goals makes them more achievable and means you get to enjoy the
    satisfaction of achieving them over a more extended period of time.</p><br>

    <p>A common misconception is that you have to save a lot at once; we're trying to abolish it! Whether
    you're saving £5 daily or monthly, saving money is a positive thing and shouldn't be affecting your way
    of living.</p><br>

    <p>For example, if you're finding that you're not spending any money on the things that you enjoy so that
    you have enough to save, you're doing it wrong! Saving is about looking after your future self, not
    destroying your current self. So, go out and enjoy your time with your friends but if you have £10
    leftover at the end of the night, transfer it to a savings account.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/WDPPjGD/mental6.jpg" alt="">
</div>

    <h2>Step Five: Transparency</h2>

    <p>Keeping track of your spending and being honest about your financial habits will save you money and
    future headaches. Our banking app makes this easy to track how much you're spending Vs on earning.</p><br>

    <p>You can check what your direct debit payments are (also in-app) so that you aren't losing money from
    your account without realizing it!</p><br>

    <p>Our team is always more than happy to speak to you about anything, even if you feel that isn't related to
    your finances. We can guide you, and if we can't help you, we'll direct you to someone who can!</p><br>

<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div> <br>


  </section>
