   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blogs-all"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Self-Employed Pensions:</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/self-employed-pensions" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/self-employed-pensions" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/self-employed-pensions" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/ZgbZPJ9/pension.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">You're working for yourself. You choose your hours; you don't answer to anyone, and you set your own
    boundaries. But you also have to take care of many other things that your boss usually would have
    done; paying taxes, choosing a pension scheme and deciding who to shout at.
  </p><br>

    <p>So, you're a big boss now, but where will you be in forty years? You're going to need a pension. And
    we're here to help you make the best choice possible.</p><br>

    <p>Use this article to help you make a decision on which self-employed pension option is for you.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/PgxZ011/pension2.jpg" alt="">
</div>

    <h2>1. The State Pension for Self-Employed Worker</h2>

    <p>You're eligible to receive a state pension just like everyone else, even if you're self-employed. The total
    pension you get is dictated by your previous National Insurance Contributions, and if you've previously
    been employed, you could actually get more</p><br>

    <p>If you're wondering how much you've currently got saved, then check out the Government's pension
    forecast statement <a href="https://www.gov.uk/check-state-pension">here.</a></p><br>

    <p>Most likely, you won't be able to live on the state pension alone, so you're going to want to support
    yourself in other ways. Pensions can tend to be low even when you do have an employer contributing to
    them, so you'll want to get creative with boosting your retirement savings.</p><br>

    <p>So, what are your options? You have a few:</p><br>


    <h2>2. Standard Personal Pensions</h2><br>

    <p>You don't have to be self-employed to open a personal pension! They're also super simple and work a
    little like a savings account. All you have to do is pick a provider, decide how much you want to be
    contributing and how often, and then watch your savings grow accordingly!</p><br>

    <p>Tax relief on contributions: Your provider will claim tax relief on the contributions that you add to your savings, and then they'll give them back to you. Currently, the taxpayer can usually get around £35 in tax
    breaks from the Government for every £100 paid into their account. For 2021-22 you can claim for up to
    £40,000 saved (that's 10,000!)</p><br>

    <p>So, the Government hasn't wholly abandoned you if you're self-employed and saving for a peaceful
    future abroad by the sea. Not only this but when you retire, there are several options for how you
    access your pension.</p><br>

    <h2>3. Stake-Holder Pension</h2><br>

    <p>They're not the same as standard personal pensions! Instead, they tend to cap charges at 1.5% and have
    lower and more flexible minimum contributions. Each of the schemes needs to meet standards outlined
    by the Government (e.g. offering a default investment fund). This fund is
    orientated towards people who don't want to tether themselves to a specific type of investment</p><br>

    <p>They also offer a range of more complex investment funds, which can involve stocks or share. What you
    choose to go for will likely be influenced by how much you're willing to risk. Investments do not have a
    set value, and the fluctuation can worry some people!</p><br>

    <p>With these types of pensions, you can begin to withdraw your funds at the age of 55, regardless of
    whether you've entered retirement or not.</p><br>

    <h2>4. Self-Invested Personal Pension</h2><br>

    <p>You want an employed person pension, but you want it to offer more flexibility when it comes to
    choosing an investment. Well, the SIPP (Self-Invested Personal Pension) is for you!</p><br>

    <p>It gives you the freedom to choose which investments to commit to and how you want to manage them
    as your pension fund increases. You can also switch between investments and several other assets.
    These assets include government securities, stocks and shares and even commercial properties. If you
    don't want to make all the decisions (you're already running your own businesses!), then you can hire an
    authorised investment manager to decide for you.</p><br>

    <p>SIPPs hold your investments until you're able to draw an income upon retirements. This investment is
    going to be best suited to you if you already have a large pension pot and you've got some experience in
    investing. It's important to note they'll also have higher fees than other types of pensions</p><br>

    <h2>5. NEST</h2><br>

    <p>NEST, or the National Employment Savings Trust, is the government pension scheme for self-employed
    people. It is a workplace pension scheme to help automatic enrollment. Notably, there are no profit-making shareholders.</p><br>

    <p>It is initially designed for employed workers, but you could also qualify if you're self-employed. But you
    do have to fit the following criteria:</p><br>

    <p>&nbsp;&nbsp; • &nbsp; Self-employed or the sole director of a company that doesn't employ anyone else.</p><br>
    <p>&nbsp;&nbsp; • &nbsp; Between the ages of 16 and 75.</p><br>
    <p>&nbsp;&nbsp; • &nbsp; Working in the UK and only subject to UK social and labour laws (rather than those of an EEA country).</p><br>

    <p>If you fit the above criteria, you can profit from an online and easy to use pension scheme. It is
    considered to be a low-risk pension scheme which results in it delivering lower returns than other kinds
    of pensions.</p><br>

    <p>If you're looking to save money for your pension, then ideally, you're refraining from unnecessary
    business costs currently. Our KiyanPay business accounts offer low transfer fees and competitive
    exchange rates so that you can save as much as you can for your future.</p>



<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div> <br>


  </section>
