   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blogs-all"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Small Business Grants UK:</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/small-business-grants" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/small-business-grants" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/small-business-grants" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/jyMcjC2/small1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">Being a small business is a hard task on any given day, but it’s also really rewarding. We want to help
    you, help your small business. So, we’ve put together a list of small business grants in the UK and how to
    apply for them.</p><br>

    <p>First things first! A grant is an amount of money that you don’t have to pay back. That basically means
    free money!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/gMzCGtX/small2.jpg" alt="">
</div>

    <h2>Start Up Grants:</h2>

    <p>The National Lottery Heritage Fund:</p><br>

    <p>This fund supports projects which from designing landscapes to cultural traditions. Their aim for 2021-22
    will be prioritizing start-ups that boost the local economy, encourage skills development and job
    creation and are also focused on supporting well-being. Read the details <a rel=noopener href="https://www.heritagefund.org.uk/funding">here.</a></p><br>

    <p>Innovate UK:</p><br>

    <p>Is a government grant which aims to develop and aid the realization of potential new ideas, particularly
    focused on those from the UK’s research base. Read the eligibility requirements <a rel=noopener href="https://www.gov.uk/guidance/innovation-apply-for-a-funding-award0">here.</a></p><br>

    <p>Research and Development Tax Relief:</p><br>

    <p>This organization supports companies seeking to research and develop an advancement in their chosen
    field (this includes companies which are unsuccessful). Read more <a rel=noopener href="https://www.gov.uk/guidance/corporation-tax-research-and-development-rd-relief">here.</a></p><br>

    <p>Local Authority:</p><br>

    <p>While we can’t compile all of the grants made available by your local authorities, we’re here to let you
    know that you should look into it! They’re also currently helping out small businesses survive the
    pandemic so you should look into what your council can help you with. Here is a good place to start
    <a rel=noopener  href="https://www.lepnetwork.net/local-growth-hub-contacts/">looking</a></p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/WpJ1FqS/Q1ovfvbA.jpg" alt="">
</div>

    <h2>Young People Grants:</h2><br>

    <p>Everyone is keen to support the next big talent, so if you’re a small person with a big dream make sure
    to check out some of these grants:</p><br>

    <p>The Prince’s Trust:</p><br>

    <p>The trust supports 18–30- year old's in starting and running their own businesses. Not only do they offer
    funding and other resources they also have training and mentoring on offer.</p><br>

    <p>Although it is no longer on offer, last year the trust set up a £5 million Enterprise Relief Fund which
    offered grants to self-employed people and business owners so keep an eye out for what they’re announcing in the future</p><br>

    <p>You can either apply for low- interest loans (between £500-£5000) or they have been known to give out
    grants in special circumstances</p><br>

    <p>UnLtd:</p><br>

    <p>UnLtd looks to support entrepreneurs who are 16 and over if their business is aimed at learning and
    working in order to benefit others. They offer three different “awards” from £500 to £15,000 which they
    call start-up packages. Find out if you qualify <a rel=noopener  href="https://www.unltd.org.uk/awards">here</a></p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/4Yfh2tY/small3.jpg" alt="">
</div>

    <h2>Starting A Business:</h2><br>

    <p>The New Enterprise Allowance:</p><br>

    <p>This organization is great because as wellas funding it also provides you with mentoring and you don’t
    have to be an established concept either! If you have an idea that you want to develop into a business,
    you’re on your way to being eligible.</p><br>

    <p>Your mentor is in charge of approving your business plan and then you can get up to £1274 in allowance
    over 26 weeks. Here is <a rel=noopener href="https://www.gov.uk/contact-jobcentre-plus">how</a> to reach your JobCenter plus work coach ) to talk about the  <a href="https://www.gov.uk/moving-from-benefits-to-work/starting-your-own-business">allowance</a> </p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/Tkb51Wj/small4.jpg" alt="">
</div>

    <p>Grants For Taking On An Apprentice:</p><br>

    <p>If you want to take on an Apprentice then the government is keen to help you out.</p><br>

    <p>If you can prove that you’re taking home less than £3 million annually then the government will cover
    the cost of the apprenticeship levy. This means you get 5% towards the training and assessment of the
    apprentice of your choice, this is only for apprenticeships which started April 2019 or later.</p><br>

    <p>Check out the details <a  rel=noopener href="https://contact.findapprenticeship.service.gov.uk/employer-enquiry">here</a></p><br>

    <p>Kickstart Scheme:</p><br>

    <p>The government has recently introduced the Kickstart <a rel=noopener href="https://www.gov.uk/government/collections/kickstart-scheme">scheme</a> which is designed to help businesses
    who are creating job openings for those aged 16-24 who are on Universal Credit and are high risk for
    long term unemployment</p><br>

    <p>You can get up to 100% of the living wage for 25 hours a week for a total of six months, along with their
    pension and National Insurance Contributions. This oppurunity lasts until December 2021</p><br>

    <p>We got most of our information <a rel=noopener href="https://www.simplybusiness.co.uk/knowledge/articles/2021/02/uk-small-business-grants/">here</a> so for more
    details check out their page!</p><br>



<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>


  </section>

</article>
