   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to  "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" rel=noopener href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a class="nav-link" rel=noopener href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>So, You Want To Save?</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>

            <ul class="social-icons"><br>
              <li><a class="facebook" rel=noopener  href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/so-you-want-to-save" target="_blank" > <i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" rel=noopener href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/so-you-want-to-save" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" rel=noopener href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/so-you-want-to-save" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
            </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/pwgNxxj/save1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">2020. A global pandemic. Un-employment hit an all-time low.</p><br>

    <p>There are a lot of things that need saving right now, let’s start with some money.</p><br>

    <p>Whether you’re saving for the weekend, your next holiday or the future, the earlier that you start,
    the better.</p><br>

    <p>Here are a few ways that we recommend saving, so that it doesn’t take over your life but makes
    it more fun!</p><br>


<div class="mainpicture">
      <img id="pic" class="center" src="https://i.ibb.co/VY6gGmQ/save2.jpg" alt="">
</div>

    <h2>1. Don’t Put Them All In One Basket!</h2>


    <p>It turns out eggs and savings have a lot in common... Make sure that you’re distinguishing what
    your savings are for in order to set goals and have something to look forward to!</p><br>

    <p>Here are a few of the savings goals our team have:</p><br>

    <p>&nbsp;&nbsp; - &nbsp; Rainy Day</p><br>
    <p>&nbsp;&nbsp; - &nbsp; Weekend Trip</p><br>
    <p>&nbsp;&nbsp; - &nbsp; Honeymoon</p><br>
    <p>&nbsp;&nbsp; - &nbsp; Engagement Ring</p><br>
    <p>&nbsp;&nbsp; - &nbsp; Zara Sale</p><br>
    <p>&nbsp;&nbsp; - &nbsp; House</p><br>

    <p>The size of what you're saving for doesn’t matter that much! The point is that you’re working
    towards something.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/chPbkMh/save3.jpg" alt="">
</div>

    <h2>2. Back of Mind</h2>

    <p>Kind of like front of mind... only you don’t really have
    to do much. You can use round-up features and automated transfers from your main account to your savings one so that you’re not
    having to actively save-let the tech do it for you!</p><br>

    <p>We recommend automating the transfers just after payday, that way you can
    put savings before the small un-necessary purchases that we all love to make.</p><br>

    <p>It’s up to you how often you’re transferring money out of your account but we recommend once
    a month, that way it isn’t so frequent that you’re worrying about it but it isn’t going to take out a
    sum that is too big all at once either.</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/2NhSCvL/save4.jpg" alt="">
</div>

    <h2>3. Budget Away!</h2>

    <p>We have several blogs on budgeting but in general we recommend deciding how much you
    want to spend in order to stay within your income and, if possible, also be able to save!</p><br>

    <p>We also champion the importance of keeping track of spending! If you’re using both cash and
    card, different currencies and different accounts then combining all of them in one tracking
    platform is a good way forward!</p><br>

    <p>Top Tip: Paying cash is the same as paying card! The psychology between spending shows
    that it’s easier to part with cash then tap your card so if you’re going to be affected by this then
    stick to card!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/BnXZNzH/save5.jpg" alt="">
</div>

    <h2>4. Stop, Think, Question.</h2>

    <p>Do I need this? Can I afford this? Will I regret this? Will future me enjoy this?</p><br>

    <p>They’re all good questions to ask yourself before you commit to a purchase. Another great one-Can I get the same thing elsewhere that is cheaper?</p><br>

    <p>We’re not saying that you should second-guess every purchase. That would be unhealthy and
    can actually lead to a save/splurge form of spending which isn’t good for your finances either!</p><br>

    <p>When you’re spending money on something that isn’t an everyday average purchase, or
    something that you’re not entirely sure that you can afford then stop to think!</p><br>

    <p>That’s not to say you shouldn’t treat yourself...we encourage it. But treating involves it being a
    special occasion thin.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/sVY1PKG/save6.jpg" alt="">
</div>

    <h2>5. Can I get this cheaper?</h2>

    <p>Like we mentioned before, doing a bit of research can often save you a lot of money!</p><br>

    <p>We recommend going out and checking for the competitors of your Wi-Fi, telephone and
    housing bills. Also, some supermarkets are significantly cheaper without sacrificing
    the quality of the food, it’s worth checking them out!</p><br>

    <p>And don’t just stick to a provider because you’re already with them! Do your research and see if
    someone is providing the same thing but cheaper, bring it to your current provider and see if
    they can match the offering.</p><br>

<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>
  </section>

</article>
