   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" rel=noopener href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a class="nav-link" rel=noopener href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Start Ups: Preparing For The Worst</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>

    <ul class="social-icons"><br>
      <li><a class="facebook" rel=noopener href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/startups-preparing-for-the-worst" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" rel=noopener href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/startups-preparing-for-the-worst" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a class="linkedin" rel=noopener href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/startups-preparing-for-the-worst" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/tzHdjHn/startups1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">We’ve all heard the saying: “Expect the best, prepare for the worst” and it couldn’t be truer for start-ups.</p><br>

    <p>So, how do you stay vibrant and hopeful while still crafting a plan b,c and d? In our guide we’re
    going to help you insure your start-ups future</p><br>


<div class="mainpicture">
      <img id="pic" class="center" src="https://i.ibb.co/hmBRzBV/startups2.jpg" alt="">
</div>

    <h2>1. Plan. For Just About Anything.</h2>

    <p>Did anyone have a plan for a global pandemic in their arsenal two years ago? Even most
    governments didn’t. So, if it takes planning for a zombie apocalypse so feel prepared, do it.
    Feeling like you’re prepared for the worst will give you the confidence to give Plan A your best.</p><br>

    <p>So, how do you plan? Start with a risk assessment, consider everything. That includes, natural
    disaster and other weather connected scenarios, potential personnel complications, supply
    chain, management, everything. You need to be well acquainted with your vulnerabilities in
    order to formulate a way to tackle them effectively. And you need to know that your risks change
    day to day-if you’re hosting a webinar you need to be prepared for your Wi-Fi to shut down, or
    your speaker to be taken ill.</p><br>

    <p>More generally, prioritize different areas of your business. If you’re providing a service, what
    happens if the medium you use breaks down. If your tech malfunctions will people’s information
    leak? Will they be able to access their assets? How will you protect your customers if there is a
    hack? If you sell a product, are you prepared for a supply issue? What will you tell your buyers if
    they can’t receive the goods they purchased? How will you compensate them for their wait
    time?</p><br>

    <p>Making plans for things that won’t necessarily occur can be frustrating, it
    might even seem like you’re wasting your time. But, in the event of an emergency, you’ll be grateful that you thought
    ahead.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/thtSPjq/startups3.jpg" alt="">
</div>

    <h2>2. Create A Contact List</h2>

    <p>When the worlding is ending? Who are you calling? Not enough start-ups have a list of their go–to's. Whether that’s the local authorities, their financial advisors, their investors. There are
    people that you are going to need to reach immediately when the worst comes to worst.</p><br>

    <p>Make sure that your team knows the numbers, or at least knows where they can find them in a
    pinch. There is no point in spending time creating your emergency list only to put it in a binder in
    a forgotten drawer somewhere.</p> <br>

    <p>Make it electronic, and download it-that's part of planning for a loss of WIFI!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/0mKWBR4/startups4.jpg" alt="">
</div>

    <h2>3. Disaster, Consequence</h2>


    <p>So, you know what you can expect and how you’re going to deal with it. But what about after?
    How are you going to make it up to your customers, your staff, yourself?</p><br>

    <p>This is where having a rainy-day stash comes in handy. Savings are as important to a business
    as they are individual. Being able to pay your staff, or supplies and contractors, while you’re in
    the middle of a sticky situation, could make the difference between your business surviving and
    it dying.</p><br>

    <p>How much should you save?
    As much as you can. Anything that isn’t going back into the
    business or to your staff should be going into an investment (or similar) account so that your
    money can grow as you hope to never have to use it. Ideally, however, you’re going to want to
    be able to sustain your business for at least three months with no other income. Calculate your
    business costs, employee wages etc. Then start saving.</p><br>



<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/KbsVt9h/startups5.jpg" alt="">
</div>

    <h2>4. Training</h2>

    <p>You might be ready and your business might be ready for a disaster but are your employees?</p><br>

    <p>Do they know what to do if you’re not able to step up? What if disaster they have to face is your
    inability to be present. Your business cannot rely solely on you.</p><br>

    <p>Trust and train your team to be able to step up in your absence. If you don’t trust your team your
    start-up will not only crumble in the face of adversity but it will fail long before that!</p><br>

    <p>Be transparent with your team about your plans and back-ups, assure them that their wellbeing
    is a priority for you and showcase the safety-nets that you have put in place.</p><br>

    <p>And that’s it! You’re not ready for it all now, but you’re on your way. We’re proud of you :)</p><br>





<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>
  </section>

</article>
