   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" rel=noopener href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blogs-all"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a class="nav-link" rel=noopener  href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a  rel=noopener href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Stress Awareness Month:</h1>

  <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>

            <ul class="social-icons"><br>
              <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/article" target="_blank" > <i class="fa fa-facebook"></i></a></li>
              <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/article" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/article" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
            </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/wct1bs2/stressawarness1.jpg" alt="">
</div>






  <section class="articles">


    <p lang="en">Here at KiyanPay we try to reduce as much stress for our customers as possible. Whether you’re a
    student, a parent or a small business we want to make sure that your lives are getting easier.</p><br>

    <p>But it’s not always up to us... that’s why we’ve compiled a list to help you deal with and prevent stress in
    honour of stress awareness month!</p><br>


    <p>P.s. we’ve seen a few articles promoting gum chewing and candle lighting. Let’s be clear... they sound
    great but
    they’re probably not going to change much for you! We’re here to share some tried and tested
    methods that are going to have you breathing deeper and smiling wider</p><br><br>

<!--     <div class="mainpicture"> -->
      <img id="pic" class="center" src="https://i.ibb.co/dkjWgSL/stressawarness2.jpg" alt="">
<!--     </div> -->

    <h2>1. Chuckle</h2>


    <p>Oh oh... are we already breaking our promise? No! We’re not just going to tell you to laugh and then leave it at that. Here are our favourite methods to force a chuckle or <strike>too</strike> <span style="text-decoration: underline;">two</span> out and the science behind the laughing!</p><br>

    <p>Why does it work? Put simply our brains aren’t as all-powerful as we think! We can trick them into
    thinking that we’re happy/relaxed/stressed. We don’t have the space to fit it all in here but we thought
    we would let you know where you can find the <a href="https://www.nbcnews.com/better/health/smiling-can-trick-your-brain-happiness-boost-your-health-ncna822591">science</a>.</p><br>

    <p>Now, what do we recommend?</p><br>

    <p>Our own research (asking the office and cheering ourselves up on a Monday morning) has shown that stand-up comedy and baby/animal videos have the highest success rate when it comes to forcing out a
    smile and/or laugh.</p><br>

    <p>Here are our top favorites:</p><br>

    <p>&nbsp•&nbsp <a rel=noopener  href="https://www.youtube.com/watch?v=IxG3Cv5qK00">Funny Baby Video</a></p>
    <p>&nbsp•&nbsp <a rel=noopener href="https://www.youtube.com/watch?v=EwIt11evPfY">More Hilarious Babie</a></p>
    <p>&nbsp•&nbsp <a rel=noopener href="https://www.youtube.com/watch?v=BkD2nN5275c">Now Some Dogs and Other Furry Friend</a></p>
    <p>&nbsp•&nbsp <a rel=noopener href="https://www.youtube.com/watch?v=eA0neTHUN6M">James Acaster On Bananas</a></p>
    <p>&nbsp•&nbsp <a rel=noopener href="https://www.youtube.com/watch?v=R3FDoW565Lc">A Stand-Up Compilation</a></p><br>

    <img id="pic" class="center" src="https://i.ibb.co/VmvdN7f/stressawarness4.jpg" alt="">

    <h2>2. Exercise</h2>

    <p>Trust Me! We know! There is nothing
    more stressful than having to go on a run. It keeps us up at night
    more so than anything else BUT running isn’t the only exercise</p><br>

    <p>First... here’s the science:</p><br>

    <p>Research shows that the top form of exercise that prevents stress is group sport. That’s a touchy subject
    right now considering there is a pandemic. But if and when you can we recommend committing to
    weekly group sport that isn’t going to
    stress you out even more. Go for something that you’re a
    beginner at and won’t get too competitive doing</p><br>

    <p>We’re going to list the silliest team supports shortly so you can get your giggle on but first we want to let
    you know some flexible things you can do alone so that you can de-stress whenever you need!</p><br>

    <li>Walks! Yes... they’re obvious but they’re also a low effort/ high reward form of exercise that can
    be done pretty much anywhere at any time. We walk where we can rather than designate
    specific times as it means we can integrate it more swiftly into our daily routines, but if you need
    to leave the laptop behind and walk until you reach the next town over, do that!</li><br>
    <li>Swimming is slightly less accessible but it is also a great form of cardio which also trains your
    lungs! Better breathing = less stress</li><br>
    <li>Dancing! We’re saying turn ABBA up to the max, put on some flares and dance till you’ve sweat
    through your sweatband. Why? Because exercise and music are two of the biggest stress
    reducers and dancing is COOL OK</li><br>

    <p>Here are our favourite group sports:</p><br>

    <p>&nbsp•&nbsp Sepak Takraw: Volleyball but with your feet.</p>
    <p>&nbsp•&nbsp Quidditch: Get your Harry Potter on :)</p>
    <p>&nbsp•&nbsp Toe Wrestling: Those of you easily cringed out... beware!</p>
    <p>&nbsp•&nbsp Wife Carrying: This one is niche but if you don’t have a wife,
      we encourage borrowing one (just for the sport!)</p>
    <p>&nbsp•&nbsp Extreme Ironing: This one reduces stress because you get the house chores done too.</p>
    <p>&nbsp•&nbsp Here are <a rel=noopener href="https://www.ba-bamail.com/content.aspx?emailid=15239">20</a> more</p><br>

    <img id="pic" class="center" src="https://i.ibb.co/ss7Y85C/stressawarness3.jpg" alt="">

    <h2>3. Help Others</h2>

    <p>None of these titles sound good, do they? I mean really! Why must I do things for others in order to help
    me feel less stressed?</p><br>

    <p>Well... here’s the <a rel=noopener href="https://www.psychologytoday.com/gb/blog/raising-happiness/201002/what-we-get-when-we-give">science</a></p><br>

    <p>Now we’re not saying you should take a walk to your local zebra crossing and wait for old ladies to need your help (although
    we do encourage the walk).</p><br>

    <p>Helping others doesn’t have to feel like helping, and it doesn’t have to involve moving much either.</p><br>

    <p>Our top recommendation? Call a loved one that probably misses you!</p><br>

    <p>Probably don’t call your mum or nan if they need IT support as that will do the opposite for your stress
    levels but call them when they’ve already spoken to an Apple Genius. You’ll help them with their stress
    and mental health and in turn they’ll help you with yours</p><br>

    <p>If you don’t feel like talking about your love life or how skinny your gran thinks you’re getting then we
    recommend going down to your local animal shelter. Spending time with animals is a scientifically
    proven stress reliever and it will also massively help with the stress the animals are experiencing.</p><br>

    <p>If you’re feeling particularly charitable, we recommend taking one home, they’re cute and the barking
    isn’t even that loud!</p><br>

    <p>Here are some more of our <a rel=noopener  href="https://www.standard.co.uk/lifestyle/london-life/charities-to-volunteer-for-in-london-a4326076.html">favourite ways</a> to help others in London:</p><br>

    <p>We hope you’re feeling slightly less stressed. We’re always here to help and our customer service team
    is always here to lighten the load so don’t hesitate to reach out.</p>

<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>
  </section>

</article>
