   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to  "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" rel=noopener href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blogs-all"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a class="nav-link" rel=noopener href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Three Things We Should Have Been Taught At School: Money</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>

            <ul class="social-icons"><br>
              <li><a class="facebook" rel=noopener  href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/three-things-we-should-have-been-taught-at-school" target="_blank" > <i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" rel=noopener href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/three-things-we-should-have-been-taught-at-school" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" rel=noopener href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/three-things-we-should-have-been-taught-at-school" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
            </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/WFRDms0/money1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">It’s no secret that the education system is failing us in more ways than one. We leave school feeling overwhelmed and under-prepared. We’re here to fill in some gap.</p><br>


<div class="mainpicture">
      <img id="pic" class="center" src="https://i.ibb.co/9WhwZHS/money2.jpg" alt="">
</div>

    <h2>1. Credit Scores</h2>


    <p>Adult life is plagued by numbers which value us and our achievements. Our credit scores are one of the most intriguing examples. It’s a way for banks (and others) to judge us based on how well we budget
    and spend. In other words, they want to know how well we’ll return the money they’ll lend us</p><br>

    <p>So, how does one get a good credit score?</p><br>

    <p>In order to prove you’re a good borrower you have to borrow. But that sounds scarier than it actually is. Credit cards are a good place to start, you can get one when you’re 18 and most banks have a handy app
    where you can keep track of your spending (or borrowing) in real time</p><br>

    <p>Okay, so you’ve got the borrowing part down. You get a credit card and then you spend. Then what?</p><br>

    <p>You’ve got to show your bank that you’re good at repaying your loan. In order to do so you can’t spend outside of your allowance (this will change depending on your bank and the type of account you have) and you have to pay the full amount back in time</p><br>

    <p>Your bank will give you a day (usually once a month) where they will ask you for their money back. It’s a good idea to set a reminder for that day so that you don’t forget. Make sure that you’re not spending more than you can pay back too-
    they'll want every penny they gave you</p><br>

    <p>It’s important to note here that not everyone you borrow from will disclose that they’re lending you anything. Big companies like Klarna are offering people the opportunity to purchase from their favourite clothing stores and then pay it back later. However, they’re not being entirely transparent with how that
    can affect their customers credit scores</p><br>

    <p>A lot of young people have been affected by an inability to payback their Klarna loans and now have to work very hard to get back to where they were before</p><br>

    <p>Our advice? It’s good to get some borrowing experience but make sure that you’re doing your research on the company that you’re working with. Also... don’t spend what you don’t have- that way you won’t find yourself in hot water when they come to collect!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/0qJgvdj/money3.jpg" alt="">
</div>

    <h2>2. Retirement</h2>

    <p>When you’re young you probably don’t want to spend a lot of time worrying about retirement. It’s ages away, right?</p><br>

    <p>Well... we hate to burst your bubble but it’s not as far away as we would like to think it is. Your pension is a sum of money which you are supposed to be saving up while you work so that when you retire you have money to spend!</p><br>

    <p>Saving early matters and it will help you a lot later on in life (think: if you start saving before you have a family and kids to think about you might be able to put more aside). But you’re not the only one who should be thinking about your pension</p><br>

    <p>When you go out into the world job hunting, you’re going to want to look at the benefits that come with your position. One of the benefits that should matter to you is your pension contribution. This is a set amount of money that your employer puts aside so that government can pay it back to you later on in
    life when you need some extra help!</p><br>


    <p>There are also bank accounts that will subsidize your pension if you put your retirement savings in there. It’s worth checking with your bank to see if they offer that service</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/6Jj8gnR/money4.jpg" alt="">
</div>

    <h2>3. Taxes</h2>

    <p>Controversial topic but chances are that everyone is going to have to face the music with taxes at some point! In fact, almost as soon as you start earning money (as long as you’re over a certain threshold) then the government is going to come looking for its cut</p><br>

    <p>Usually, the company that you’re working with is going to be figuring out how much tax they need to be paying the government on your behalf. So, it's important to bear in mind that if you’re singing up to job with a £30,000 salary you won’t be seeing all of it due to taxes and other contributions (like your pension!).</p><br>

    <p>If you’re self-employed or own a business (lucky you!) you’re going to have to do the hard part. Luckily, there are people who are willing to help you... as long as you pay them for it. Accountants are more than qualified to help you not only with how much tax you as an individual should be paying but also how
    much tax your business should be paying and how much tax you need to keep aside from your employees</p><br>

    <p><li>Income Tax:</li></p><br>

    <li>Income up to £12,500-0% income tax</li>
    <li>Income between £12,501 and £50,000-20% income tax.</li>
    <li>Income between £50,001 and £150,000-40% income tax.</li>
    <li>Income above £150,001-45% income tax.</li><br>


    <p>It’s important to note that tax is compound. So, if you earn £150,001,
    you’re probably driving a pretty nice car but also, you’re not going to be paying 45% of your income to the government. Instead, they’re going to leave your first
    £12,500 alone. They’re going to ask for 20% of the next £27500 and so on. Essentially if your employer is promising you a £150,001 salary what they really mean is £90,662.</p><br>


    <p>We hope you’ve learnt something new from our blog and that you feel slightly more prepared to go out into the world and know how to spend and defend your money. If you have any questions don’t hesitate to reach out-if we don’t know the answer, we’ll find it!</p>

<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div>
  </section>

</article>
