   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"BLOG", blog_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Transferring your pension to the UK</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/transferring-an-overseas-pension" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/transferring-an-overseas-pension" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/transferring-an-overseas-pension" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/nz9rtBg/overseas.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">In our financial education blog, we told you that you should make sure you're saving for your pension as
    early as possible (preferably as soon as you start working!), so we thought we would expand and share
    some more pension tips. In this blog, we will be walking you through how to transfer an overseas
    pension to the UK.</p><br>

    <p>Whether you're moving back to the UK after spending time abroad or you've been working overseas,
    you might be able to move the pension you saved back with you! Not all pensions will have the
    capability to be transferred; it depends mainly on the overseas pension provider and the type of pension
    you had. You may also need to meet certain conditions, for example, most UK pension schemes will only
    accept a pension transfer from a ROPS <a href="">(Recognised Overseas Pension Scheme)</a>.</p>

    <p></p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/nD6bZrq/overseas2.jpg" alt="">
</div>

    <h2>Step One:</h2>

    <p>Familiarise yourself with your pension scheme; their rules vary from country to country, which could
    complicate your transfer. After that, you'll want to do the same with the pension scheme you want to
    transfer your retirement savings into. This is where having a ROPS comes in handy; you should only need
    to contact your UK pension provider and confirm the ROPS and follow your UK pension provider's
    transfer process.</p><br>

    <p>Taxation and the exact process will vary depending on your precise pension scheme, so
    you might want to get in touch with an expert pension's adviser if you're unsure </p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/rMHFjZ5/overseas3.jpg" alt="">
</div>

    <h2>Step Two:</h2><br>

    <p>If your UK pensions provider isn't willing to accept the transfer, then there are other options, so don't
    lose hope just yet!</p><br>

    <p>You can arrange to have your payments made to a bank account in the previous country you worked in;
    then, you can have it transferred into your UK account. This is slightly more work than directly
    transferring the pension, but there are ways to make this process as easy as
    possible!</p><br>

    <p>Make sure to choose an account that won't overcharge you for your transfer or currency conversion. We
    offer accounts that are 9x cheaper than the average high-street bank, and we have competitive
    conversion rates so that you're not losing money
    by transferring your pension.</p><br>

    <p>Transferring your pension with KiyanPay: <img src="https://i.ibb.co/gWpqStP/comingsoon.png" id="badge" alt=""></p><br>

    <p>&nbsp;&nbsp; 1. &nbsp; Open a secure KiyanPay account which will give you access to local account details for several
    different currencies. This includes SWIFT/BIC and IBAN codes or a routing and account number
    for US accounts. </p><br>

    <p>&nbsp;&nbsp; 2. &nbsp; Use your relevant account details to accept your overseas pension in the local currency. Doing
    so will save you money on conversation fees.</p><br>

    <p>&nbsp;&nbsp; 3. &nbsp; Whenever you need to or want to, you can convert your pension into GBP using our competitive
    currency exchange rates. (TIP: check when the rates are particularly low and convert then to
    save even more money.) </p><br>

    <p>Depending on how much you've put aside, you could save a small fortune!</p>


<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div> <br>


  </section>
