   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Travel Safety: Recording Devices</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/travel-safety-recording-devices" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/travel-safety-recording-devices" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/travel-safety-recording-devices" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/0JH2SPF/travel1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">You’re in a new country, and you’re probably already vigilant or... are you super relaxed
    because you’re on holiday?</p><br>

    <p>If you’re travelling and you’re staying somewhere new, you’re going to want to make sure that
    you’re in a safe space. After that, you can kick back and relax as much as you want! In this blog,
    we’re going to run you through some checks you can make to ensure that you’re not being monitored in your holiday residence!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/bRbdHhj/travel2.jpg" alt="">
</div>

    <h2>1. What is the threat?</h2>

    <p>There are a lot of different reasons why someone might record your stay in their property. We
    can’t list them all here, but we can tell you what to look out for and how to combat it if you find it.</p><br>

    <p>Many people just think of a camera when thinking about recording devices, but it is actually
    easier and more common to find microphones as they don’t need a direct line of sight.
    Microphones can be hidden in anything as small as a pen, a USB port or even a stuffed toy.</p><br>

    <p>To sweep properly for bugs, it is helpful to put your thinking cap on: “Where would I hide
    something very small if I didn’t want it to be found?</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/1d0TgfV/travel3.jpg" alt="">
</div>

    <h2>2. Visual Sweep</h2>

    <p>When you’re looking for camera’s it’s slightly easier as you can single out places that have a
    good line of sight. Think bedroom, bathroom and living room. There are going to be places
    where a lens would need to be angled in order to get footage, sweep those places.</p><br>

    <p>Make sure that you do the inspection before you unpack your bags. Although cameras can be
    used for a lot of different reasons, one of the main reasons is to inspect whether the resident
    has anything worth stealing and the ways in which you protect your belongings. E.g., where you
    hide them, safe code etc.</p><br>

    <p>Take a look at all of the shelves, vents and cracks that are in the wood panelling, take the time
    to feel like a bond hero and pay attention to all of the nooks and crannies!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/G98DtJQ/travel4.jpg" alt="">
</div>

    <h2>3. Scan the network</h2>

    <p>Most devices nowadays are going to be connected to the WIFI network, so you log in to the
    WIFI given to you by your rental owner and see how many other devices are connected using
    something like a Net Analyzer.</p><br>

    <p>This is slightly trickier when you’re in a hotel as there are likely going to be a lot of devices
    connected, but you can filter out obvious devices like smart TV’s, phones and computers. You
    want to look out for things that you can’t account for.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/zF5VjYz/travel5.jpg" alt="">
</div>

    <h2>4. Bug Sweeper</h2>

    <p>A lot of people don’t even do the first steps, so it’s incredibly optimistic that we include this one.
    BUT we really recommend using a consumer-grade bug sweeper to sweep anywhere that
    you’re staying, particularly if you’ve never visited there before.</p><br>

    <p>There are plenty of tutorials out there, but we recommend this <a href="https://foxnomad.com/2018/03/15/how-to-bug-sweep-an-airbnb-or-hotel-room-for-hidden-cameras-and-surveillance-devices/">one</a>.</p>

    <p>It’s not long now before we can travel freely, and although we may be getting better at
    protecting ourselves from covid, we need to be just as wary as all the other travelling threats!</p><br>

    <p>Safe travels :)</p><br>


<div class="user-profile">

</div> <br>


  </section>
