   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>5 Travel Scams To Avoid</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/travel-scams-to-avoid" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/travel-scams-to-avoid" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/travel-scams-to-avoid" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/GRyNgtR/scam1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">We’re being optimistic and hoping that we’re soon going to be on a cramped flight out to a warm
    country abroad. However, we’re skeptical of the tricks that locals might play on us in order to
    take advantage of our naivety! Luckily, we’re a few steps ahead.
    In this blog, we’re covering a few things to look out for that might make your trip more expensive than it needs to be.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/phgQ8Sd/scams2.jpg" alt="">
</div>

    <h2>1. Free Gifts</h2>

    <p>‘Free’ Gifts. The funny thing about these gifts is that they’re free until you’re holding them, then
    they suddenly become extortionately priced and, because they’re already in your possession
    you have to pay for them.</p><br>


    <p>This scam is pretty popular especially in the European countries, particularly near the beach. A
    seemingly friendly person will approach you for a chat and offer you a product or service. They’ll
    insist that it’s free and will pester you into letting them attach it to you. Once it’s on you they will
    demand money and refuse to take the item back. Be careful, they’re not opposed to creating a
    scene in order to embarrass you into giving them money!</p><br>

    <p>So, how do you avoid/ remedy these situations? You can follow two great pieces of advice.</p><br>

    <p>1) “Nothing is free. Everything had to be paid for.”
    -Ted Hughes. Our first tip is prevention. Do
    not let them give you anything, even if they claim it is free. As Ted says, this is very unlikely, if
    not impossible. Giving it back is very hard and may end up causing a racket which can leave
    you with a sour feeling. Don’t ruin your holiday over a bracelet-just keep walking!</p><br>

    <p>2) “Take what you can, give nothing back!”
    -Jack Sparrow. If they said it’s free then it is free.
    Walk away and refuse to pay for it. They become a lot more willing to take it back once they can
    see that you’re not going to be guilted into handing over money. We don’t recommend doing this
    but if you’ve fallen for their trick then this is a way to get out of it.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/Wp7PNXp/scams3.jpg" alt="">
</div>

    <h2>2. Distract and Displace</h2>

    <p>A friendly stranger has just run into you and knocked you over, or they have spilled coffee all
    over the expensive top that you bought especially for this holiday. They’re incredibly apologetic
    and they’re making a big fuss of making sure that you’re alright/ trying to clean up the mess.</p><br>

    <p>Only, they’re not as sorry as they seem! They’re actually distracting you so that they can take
    your wallet, phone or hotel keys.</p><br>

    <p>Just because you’re not in a crowded area doesn’t mean that you’re not at risk of being pick-pocketed. In general, we recommend carrying as little as possible. Especially, important
    belongings like your passport. Carry them somewhere where you can constantly check that
    they’re safe and that you would see/feel if someone reached for them. Also, be skeptical of
    people bumping into you!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/cxV30QB/scams4.jpg" alt="">
</div>

    <h2>3. Rental Cars/ Motorbikes.</h2>

    <p>Renting cars/ bikes abroad can be a tricky. It is very common that you have to pay a deposit
    and despite taking very good care of the vehicle, when you come back the owner insists that
    there is new damage and refuses to give back your deposit or insists that you pay him for a repair.</p><br>

    <p>Some owners may even go as far as to send someone to damage/ steal the vehicle while you’re
    out and about in order to ask you for more money. This can be an expensive mistake to make,
    so how do you avoid it?</p><br>

    <p>If you do decide to rent a vehicle then make sure that you take photos of the entire thing in
    detail before leaving, make sure that the owner sees you doing so. Be careful where you park
    the vehicle and take out travel insurance just in case-this will cover much more than this type of
    scam and we recommend always travelling with some form of insurance.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/9986H5h/scams5.jpg" alt="">
</div>

    <h2>4. Expensive Taxi Trip</h2>

    <p>You’ve probably already fallen victim to this scam. Most people have. A few things to avoid:</p><br>

    <p>&nbsp•&nbsp A ‘broken’ meter. They’re going to come up with a random rate based on what they think that you can afford to pay.</p><br>
    <p>&nbsp•&nbsp Trying to negotiate a rate. Do your research and ask the hotel staff what the usual rate
    is. If the taxi driver isn’t willing to accept it, move on-you'll find some one who is willing!</p><br>
    <p>&nbsp•&nbsp  A magic meter-if the meter is moving too quickly or going up suspiciously fast then don’t
    be afraid to call them out! If you have to make them stop the cab.</p><br>

    <p>We recommend going through your hotel to find a cab if possible. If you’re out and about don’t
    be afraid to go to several cab drivers in order to get a good price. And remember, under no
    circumstances should you EVER get into an unlicensed taxi. Familiarize yourself with what a
    licensed taxi should look like for your destination and only get into legitimate cabs!</p>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/1m4NqDv/scams6.jpg" alt="">
</div>

    <h2>5. Home Scams</h2>

    <p>Sometimes it isn’t cheeky locals trying to take advantage of your lack of knowledge. The biggest
    scams can be the currency exchange rates and sly credit card providers.</p><br>

    <p>Do your research about the best bank to travel with. You want to look for multi-currency cards,
    low exchange rates, the ability to use ATM’s abroad (carefully!) and travel-friendly blogs! We happen to know a place...</p><br>

    <p>Safe and happy travelling... soon!</p><br>

<div class="user-profile">

</div> <br>


  </section>
