   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blog"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>What Is A Negative Interest Rate?</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/what-is-a-negative-interest-rate" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/what-is-a-negative-interest-rate" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/what-is-a-negative-interest-rate" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/xX9Vghk/rate.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">So, you want to borrow? Nothing comes for free so it’s going to cost you. Or is it? An emerging
    concept is championing the idea of negative interest rates and positive saving rates. Essentially,
    you’ll be charged to save but paid to borrow.</p><br>


    <h2>1. What are they?</h2>

    <p>Up until now, the opposite has been true. Banks have been using the money in your savings
    account and paying you a small interest to do so. If you’ve chosen to borrow from your bank or
    another lender than you have also been paying an interest rate to them. Due to the pandemic
    interest rates are relatively low but Anna Bowes over at Savings Champion is suggesting that
    they might be headed into the negatives.</p><br>



<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/jLsxPhL/rate2.jpg" alt="">
</div>

    <h2>2. Why did they come about?</h2><br>

    <p>The pandemic prompted a Quantitative Easing program by the government. The policy allowed
    central banks to inject money into the economy with the aim of encouraging small businesses
    and other UK companies to rebuild their supply levels.</p><br>

    <p>Interest levels are also dependent on the inflation levels which, in August
    2020, fell to 0.2%. This is significantly lower than the 2% target. Given this influence interest rates could fall to
    below 0% meaning that banks will pay you to borrow.</p><br>

    <p>Banks are reluctant to offer this option as it may encourage customers to transfer
    their savings out of their accounts while taking out ‘free’ loans. For the idea to work all banks would have to
    offer this method of lending.</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/K5790cR/rate3.jpg" alt="">
</div>

    <h2>3. How does this affect cash savers?</h2><br>

    <p>As previously mentioned, charging customers to keep their savings in their bank account will
    drive loyal customers to move their assets to other competitors. This is a big deterrent for banks
    so it is unlikely that anything will change. If it does, you’ll
    be saving more on the loans that you
    take out then you’re losing for storing your savings so you’re probably going to end up doing
    well anyway!</p><br>


<div class="user-profile">

</div> <br>


  </section>
