   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blogs-all"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>What To Look For When Hiring:</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/what-to-look-when-hiring" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/what-to-look-when-hiring" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/what-to-look-when-hiring" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/bWF54G5/hiring.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">Times are changing, especially on the employment scheme. It is no longer sufficient to examine
    a CV and see that your candidate has good grades and relevant experience. You need to be
    looking for drive, stamina, determination and much more. It’s hard for those to come across in a
    resume. In this blog, we’re helping you with our tips for hiring!</p><br>



<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/2FshrNm/hiring2.jpg" alt="">
</div>

    <h2>1. Attitude</h2><br>

    <p>What is their attitude towards your business? Is it something
    that they’re interested in or does your position purely fit their criteria? You want to make sure that they’re going to want to make
    your business work, if they’re just showing up and doing the job than they’re going to lose
    interest and want to move on pretty quickly.</p><br>

    <p>Speaking of moving on... what is their attitude towards the duration of their employment? Are
    they looking to settle down or are they going to be looking for a new position fairly soon? Make
    sure that their plans align with yours. Employment is stressful and time consuming so if they’re
    planning on moving on in three months, they might not be the one for you!</p><br>

    <p>Lastly, what is their overall attitude. Does it fit in with your team? This is very objective and
    relies heavily on the dynamic of your current team. Whether you need someone who is more
    laid back or someone who can work at a fast pace you’re going to want to recognize those
    qualities in the people that you’re interviewing.</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/3hqY9Sr/hiring3.jpg" alt="">
</div>

    <h2>2. Creativity</h2><br>

    <p>As much as it is a bonus to be able to hire someone who already has all of the skills you need, it
    is nowhere near enough. Using different tools can be taught with thorough training pretty
    quickly. You want to look for the things that you can’t teach.</p><br>

    <p>We recommend looking for the candidates that are creative and curious. Those who seek
    solutions to problems that have yet to arise. Those that want to streamline and improve your
    business and those that are going to push you to do better.</p><br>

    <p>How do you find them? Firstly, offer them something back.
    Secondly, ask them the right interview questions.
    Where do you see yourself in five years? Is an overused question that actually doesn’t tell you that much about the candidate. Try asking
    With your help, where do you see our business going in five years?
    This allows you, and them, to see themselves as part of your company's future. Not to mention, it will show you how well they think on the spot!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/XYv3yrc/hiring4.jpg" alt="">
</div>

    <h2>3. Experience</h2><br>

    <p>We know! We just said it wasn’t important. What we mean is that quality is more important in
    quantity. And, of course, we’re talking about non-vocational positions. If you’re hiring for doctors,
    please make sure that they have all of the qualifications!</p><br>

    <p>Rather than looking for experience working with Adobe or Microsoft or another relevant platform
    (again-this can be trained) look for their experience working with a team that is similar to yours,
    a similar work environment and a similar client base. These are all things that are harder to
    teach and even harder to grasp.</p><br>

    <p>Again, these shouldn’t be primary requirements but if you’re trying to distinguish between
    several strong candidates... look out for them!</p><br>

    <p>We hope this helps! For those of you reading so that you can prepare for an upcoming
    interview-we're hiring. Email us your CV at info@kiyanpay.com
    with a brief introduction to be considered.</p><br>



<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div> <br>


  </section>
