   <div class="navigation-wrap start-header-blog start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarblog">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blogs-all"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>



<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




<article>


  <h1>Where To Visit When Travel Restrictions Are Lifted</h1>

      <div class="time">
    <time><%= request.location.city %> - <%= Date.today.strftime("%a, %e %b %Y") =%> </time>
    <ul class="social-icons"><br>
      <li><a rel=noopener class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.kiyanpay.com/where-to-visit-post-covid" target="_blank" > <i class="fa fa-facebook"></i></a></li>
      <li><a rel=noopener class="twitter" href="https://twitter.com/intent/tweet?url=https://www.kiyanpay.com/where-to-visit-post-covid" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a rel=noopener class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.kiyanpay.com/where-to-visit-post-covid" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/QNJfJFf/covid1.jpg" alt="">
</div>


  <section class="articles">


    <p lang="en">It’s been over a year since our lives were put on pause and changed forever. We don’t know
    about you but being stuck at home for so long only made us realize how much we wanted to
    travel, so, rather optimistically, we’ve put together a list of places that
    we're going to visiting when it’s safe to do so!</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/vxxZV0f/covid2.jpg" alt="">
</div>

    <h2>1. New Zealand</h2>

    <p>An island in the southwestern Pacific Ocean, there is no shortage of beautiful views in New
    Zealand. What are we looking forward to doing? We’re going to hire out a a mountain hut and
    spend the night listening to the nature and the wind!</p><br>

    <p>Despite its size, New Zealand has a comparatively small population. This makes for vast areas
    of untouched, magnificent nature. We can’t wait to visit and enjoy dense forests and natural
    coasts. A good way to explore, if you’re a seasoned traveler, is to hire a van and stay at a
    variety of locations throughout your stay-make the most of the space!</p><br>

    <p>That being said, New Zealand is the hiker’s paradise-and rightly so. The views, the paths and
    the clear air are all great reasons to get your hiking boots on and head to the nearest New
    Zealand Mountain.</p><br>

    <p>If you’re looking to make the most of your trip then we recommend using your KiyanPay card!
    The New Zealand Dollar is one of our currencies so our exchange rates are incredibly
    competitive and definitely cheaper than our competitors!</p><br>


<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/NWmcDKt/covid3.jpg" alt="">
</div>

    <h2>2. Japan</h2><br>

    <p>Japan is extremely high on our bucket list for countries we need to visit! A cultural hub and
    horticultural dream, Japan will please all of your senses.</p><br>

    <p>For the full experience, we’re going to be staying in a traditional Ryokan, soak in an Onsen,
    watch a Geisha dance and watch a Sumo wrestling fight! Not to mention finishing with an
    amazing meal at a traditional Japanese restaurant (we recommend visiting a small family business for the full experience!)</p><br>

    <p>Japan is also incredibly technologically advanced so you can catch us taking rides on a bullet
    train, a street go-cart, and the Studio Ghibli Museum.</p><br>

    <p>Make sure that you also stop by the beautiful Japanese temples, the bamboo forest, a cherry
    blossom garden and attempt to see Mount Fiji for a truly magical experience.</p><br>

    <p>If you’re looking to make the most of your trip then we recommend using your KiyanPay card!
    The Japanese Yen is one of our currencies so our exchange rates are incredibly competitive
    and definitely cheaper than our competitors!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/BnCL65H/covid4.jpg" alt="">
</div>

  <h2>3. India</h2>

  <p>Speaking of cultural hubs, we’re buying a ticket to India as we speak! Like Japan, India has an
  amazing display of temples throughout the country. With a wide variety of religions and deities it
  is a truly remarkable journey through religion and spirituality.</p><br>

  <p>We don’t know about you but we are definitely going to hiking up the Himalayas on our trip to
  India. Easily, some of the best views in the entire world, it is well worthwhile taking the time to
  hike up and visit the ancient pilgrimages and sacred sites. If you’re able to we’re also fans of
  entering the local communities and supporting their trade.</p><br>

  <p>Riding the rails in India is an entirely different experience to jumping on the TFL. Passing
  through some of the most beautiful sites in the world the rail is as varied as the country itself. It
  passes through farms, mountains, beaches and cities and is a
  new way to experience tourism.</p><br>

  <p>India is famous for its color, whether in food, clothing or festivals! We’re planning our trip so that
  we can attend the Kerala festival of Onam-ten days of feasting or Diwali, the festival of lights so
  that we can light our own diyyas.</p><br>

  <p>If you’re looking to make the most of your trip then we recommend using your KiyanPay card!
  The Indian Rupee is one of our currencies so our exchange rates are incredibly competitive and
  definitely cheaper than our competitors!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/52y4HJQ/covid5.jpg" alt="">
</div>

  <h2>4. Kenya</h2>

  <p>If you were looking for spectacular views, breathtaking animal and nature scenes and mind-blowing food then you’ve got to visit Kenya. Like the other countries on our list Kenya has a
  hiking attraction of its own; Summit Mount Kenya. It is the continents second highest peak and
  is much quieter if peace and serenity is what you’re after!</p><br>

  <p>We’re going to be booking tickets just in time for Great Migration in Masai Mara where you can
  view millions of wildebeests, antelope and zebra (as well as the predators that follow them)
  migrate through the Masai Mara National Reserve.</p><br>

  <p>The national reserve isn’t the only place for stunning views of spectacular mammals on their
  own turf. We are pre-booking an ethical conservative safari so that we can view the lions
  and tigers in their own habitats while supporting their well-being.</p><br>

  <p>If you’ve ever looked up a flamingo you’ve likely seen a gathering of our pink friends in Kenya.
  Visiting Lake Nakaru in the Great Rift valley is a great way to view the 240 bird species which
  congregate there, including millions of pink flamingos!</p><br>

  <p>If you’re looking to make the most of your trip then we recommend using your KiyanPay card!
  The Kenyan Shilling is one of our currencies so our exchange rates are incredibly competitive
  and definitely cheaper than our competitors!</p><br>

<div class="mainpicture">
    <img id="pic" class="center" src="https://i.ibb.co/1Gvn5Jn/travel1.jpg" alt="">
</div>

  <h2>5. Iran</h2>

  <p>This list is full of religion, culture and good food. Iran is no exception. We want you to visit the
  Imamzadeh Saleh Mosque-covered in turquoise tiles and friendly locals it’s a must-visit while
  you’re in Iran. A stunning mountain backdrop is also characteristic of the area.</p><br>

  <p>Easily one of Iran’s most iconic landmarks, the Azadi Tower in Tehran is a majestic homage to
  an ancient culture. To make the most of it make sure that you have time to climb
  to the top and look out, explore the museum and take a photoshoot outside!</p><br>

  <p>Speaking of photoshoots, a popular destination is the Tabiat Bridge in Tehran. Designed by the
  local architect, Leila Araghian, the 270-meter structure is an excellent show of strength and beauty. We recommend setting aside enough time to enjoy the buzz of people that flow through
  the area throughout the day.</p><br>

  <p>Did someone say shopping? The Bazaar of Tabriz is the world’s largest covered Bazaar and is
  a great start for checking out the exquisite food and more than 5500 shops showcasing the
  honed trades of the Iranian people. With seven kilometers of passageways, it would take days
  to cover the entire thing, so pack for a long trip!</p><br>

  <p>We hope you enjoy our recommendations. For a chance to be featured on our page take a
  photo at one of the locations we mentioned and tag us!</p><br>


<div class="user-profile">
  <img id="pic" class="avatar" src="https://i.ibb.co/ZVypMn8/Screenshot-2021-04-16-at-12-19-22.png" alt="Ash" />
    <div class="username">Vicky Veselichka
</div>
  <div class="bio">

  </div>
</div> <br>


  </section>
