<!DOCTYPE html>
<html>
<!-- application.html.erb -->
<head>
  <!-- ... -->

      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


    <script src="https://kit.fontawesome.com/ad9ced8bb3.js" crossorigin="anonymous"></script>

  <%= favicon_link_tag %>
  <title><%= meta_title %></title>
<meta name="description" content="<%= meta_description %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>

  	<%= render 'shared/navbar' %>

    <%= yield %>

     <%= render 'shared/footer' %>
  </body>
</html>
